@charset "utf-8";

body {
    margin: 0;
    background: #1d212a url("../img/install-bg.png");
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif ;
}


h3 {
    color: #fff;
    text-shadow: none;
}


@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
    }
}



#progress,
#content {
    text-shadow: 0px -1px 0px #ffffff;
}

#progress {
    font-weight: bold;
}

#languages-list li,
.formDbSelect li {
    position:relative;
    margin:0 1.527659574468085% 10px 0!important;
}

#languages-list li a,
#languages-list li strong,
.formDbSelect li label {
    display: block;
    padding: 16px 16px 16px 24px!important;
    border: 1px solid #ddd;
    border-radius: 5px;;
    font-size: 14px;
    line-height: 20px;
    color: #2e5587;
}

.formDbSelect li label.disabled {
    color: #999999!important;
    font-weight: normal!important;
    background: none!important;
    cursor: default;
}



#languages-list li strong {
    background: #fff;
}

.formDbSelect li .active {
    background: #ffffff;
    color: #2e5587;
    font-weight: bold;
}

.formDbSelect li i {
    display: none;
}

.formDbSelect li .active i {
    display: inline;
}

#languages-list .selected-language,
.formDbSelect .selected-language {
    position:absolute;
    top:17px;
    left:10px;
    font-style:normal;
    font-weight:normal;
}

input[type="radio"].js {
    display: none;
}

#header {
    background: #1d212a url("../img/install-bg.png");
    margin: 0 0 20px;
    padding: 20px;
    color: #ffffff;
    box-shadow:inset 0px 0px 10px 0px rgba(0,0,0,0.4)
}


#header em {
    padding-top: 30px;
    display: block;
    color: #8ac64f;
}



.container {
    padding: 10px;
    background: #f5f5f5;
    background: rgba(255,255,255,0.95);
    margin: 40px auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, .2);
}


.table-bordered,
.table-bordered td,
.table-bordered th {
    border-color: #cccccc;
}

.table .success .status {
    color: #45a211;
}

.table .error .status {
    color: #c40202;
}

.table .warning .status {
    color: #983e08;
}



#progress li {
    position: relative;
}

#progress li.active:after {
    position: absolute;
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #007bff;
    top: 38px;
    right: -7px;
}

#progress li.active:before {
    position: absolute;
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 0 9px 9px;
    border-color: transparent transparent transparent #dddddd;
    top: 11px;
    right: -8px;
}

#progress li.active:after {
    position: absolute;
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #ffffff;
    margin-top: -26px;
    right: -7px;

}


#progress > ul {

    -webkit-border-radius:5px;
    border-radius:5px;
    background: #f9f9f9;
}

.tooltip-inner {
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
}


#ftplist, #ftplist li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#ftplist {margin-top: 10px}

#ftplist li a {

    border-bottom: 1px solid #dddddd;

line-height: 25px;
    padding: 4px;
}

#ftplist li a:hover,
#ftplist li a:active,
#ftplist li a:focus {
    background: #ffffff;
}

.final-actions a {
    font-size: 1.1em;
    text-align: left;
    white-space: normal;
    word-wrap: normal;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}

.final-actions [class^="icon-"] {
    position: absolute;
    margin-left: -35px;
    margin-top:-2px;
    width: 24px;
    height: 24px;
}

i.icon-btn-home {
    background: url("../img/sprite-24.png") 0 0 no-repeat!important;
}

i.icon-btn-admin {
    background: url("../img/sprite-24.png") -24px 0 no-repeat!important;
}


i.selected-language {
    color: #45a211;
}

.disabled a:hover {
    color: #999999!important;
}

/* ALERTS */

.alert {
    padding:10px 40px 10px 20px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    background-color:#ffe7ad;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border: 1px solid;
    box-shadow:inset 0 1px 1px 0 rgba(255, 255, 255, 0.8), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.alert,
.alert h4, .alert h3 {
    color:#333333;
    margin-top: 0;
    padding-top: 0;
}

.alert h4 {
    margin:0;
}

.alert .close {
    position:relative;
    top:-2px;
    right:-21px;
    line-height:20px;
}

.alert-success {
    color:#333333;
    background-color:#d4e5bf;
    border-color:#97bc66;
}

.alert-success h4 {
    color:#333333;
}

.alert-danger,
.alert-error {
    color:#333333;
    background-color:#fbc1c1;
    border-color:#ef8989;
}

.alert-warning {
    color: #333333;
    background-color: #ffd97f;
    border-color: #ffb400;
}

.alert-danger h4,
.alert-error h4 {
    color:#333333;
}

.alert-info {
    color:#333333;
    background-color:#add2e9;
    border-color:#4191c6;
}

.alert-info h4 {
    color:#333333;
}

.alert-block {
    padding-top:14px;
    padding-bottom:14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom:0;
}

.alert-block p + p {
    margin-top:5px;
}