<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("../lang")-->
<div class="padder">
    <h3>{$component_info->title}</h3>

    <form action="./" method="get" onSubmit="return false" id="fo" class="form-horizontal">
        <input type="hidden" name="editor_sequence" value="{$editor_sequence}"/>

        <div>
            <div class="control-group">
                <label for="width" class="control-label"> {$lang->width}</label>

                <div class="controls"><input type="text" size="3" id="width" value="400"/> px</div>
            </div>
            <div class="control-group">
                <label for="gallery_style" class="control-label">{$lang->gallery_style}</label>

                <div class="controls"><select id="gallery_style">
                    <option value="slide">{$lang->gallery_slide_style}</option>
                    <option value="list">{$lang->gallery_list_style}</option>
                </select>
                </div>
            </div>
            <div class="control-group">
                <label for="gallery_align" class="control-label">{$lang->gallery_slide_align}</label>

                <div class="controls">
                    <select id="gallery_align">
                        <option value="center">{$lang->gallery_slide_center}</option>
                        <option value="left">{$lang->gallery_slide_left}</option>
                        <option value="right">{$lang->gallery_slide_right}</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="border_thickness">{$lang->gallery_border_thickness}</label>

                <div class="controls"><input type="text" size="1" id="border_thickness" value="0"/> px</div>
            </div>
            <div class="control-group">
                <label class="control-label" for="border_color_input">{$lang->gallery_border_color}</label>

                <div class="controls">
                    <div class="btn-group input-prepend input-append">
                        <span class="add-on" data-toggle="dropdown">#</span><input type="text" id="border_color_input" data-toggle="dropdown"
                                                            size="7" maxlength="6" value="000000"
                                                            onkeyup="manual_select_color('border',this)"/>
                        <!--<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Pick <span class="caret"></span></a>-->

                        <div class="dropdown-menu">
                            <div class="editor_color_box">
                                <script type="text/javascript">
                                    printColor("border", "{$tpl_path}/images/blank.gif");
                                </script>
                            </div>
                        </div>
                        <span class="add-on" data-toggle="dropdown"><img src="./images/border_solid.gif" alt="blank"
                                                  class="border_preview_color" id="border_preview_color"/></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label for="bg_color_input" class="control-label">{$lang->gallery_bg_color}</label>

                <div class="controls">
                    <div class="btn-group input-prepend input-append">
                        <span class="add-on" data-toggle="dropdown">#</span><input type="text" data-toggle="dropdown" id="bg_color_input" size="7" maxlength="6" value="FFFFFF"
                                                            onkeyup="manual_select_color('bg',this)"/>
                        <!--<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Pick <span class="caret"></span></a>-->
                        <div class="dropdown-menu">
                            <div class="editor_color_box">
                                <script type="text/javascript">
                                    printColor("bg", "{$tpl_path}/images/blank.gif");
                                </script>
                            </div>
                        </div>

                        <span class="add-on" data-toggle="dropdown"> <img src="./images/blank.gif" alt="blank" class="bg_preview_color"
                                     id="bg_preview_color"/></span>

                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="image_list">{$lang->image_list}</label>
                <div class="controls">
                    <select id="image_list" size="6" multiple="true" class="image_list">
                    </select>

                    <p class="help-block small">{$lang->about_image_list}</p>
                </div>
            </div>
            </table>
        </div>
        <div class="btnArea">
            <button type="button" class="btn btn-primary" onclick="insertSlideShow()">{$lang->cmd_insert}</button>
            <!--<span class="btn"><a href="./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}" target="_blank" onclick="window.open('this.href','ComponentInfo','width=10,height=10');return false;">{$lang->about_component}</a></span>-->
        </div>
    </form>

</div>