
# /
/files
/.buildpath
/.project
/.cache
/nbproject
/.settings
/.idea
/modules/shop/
/modules/textyle/

# /addons/

# /classes/db/queryparts/

# /classes/db/queryparts/condition/

# /classes/db/queryparts/expression/

# /classes/db/queryparts/limit/

# /classes/db/queryparts/order/

# /classes/db/queryparts/table/

# /classes/xml/xmlquery/

# /classes/xml/xmlquery/argument/

# /classes/xml/xmlquery/queryargument/

# /classes/xml/xmlquery/queryargument/validator/

# /classes/xml/xmlquery/tags/

# /classes/xml/xmlquery/tags/column/

# /classes/xml/xmlquery/tags/condition/

# /classes/xml/xmlquery/tags/group/

# /classes/xml/xmlquery/tags/navigation/

# /classes/xml/xmlquery/tags/query/

# /classes/xml/xmlquery/tags/table/

# /common/css/

# /common/img/

# /common/js/plugins/filebox/

# /common/js/plugins/ui/

# /common/js/plugins/ui.colorpicker/

# /common/js/plugins/ui.colorpicker/css/

# /common/js/plugins/ui.colorpicker/images/

# /common/js/plugins/ui.tree/images/

# /config/
/config/config.user.inc.php

# /layouts/user_layout/

# /layouts/user_layout/conf/

# /libs/phpmailer/

# /libs/phpmailer/language/

# /m.layouts/colorCode/

# /m.layouts/colorCode/conf/

# /m.layouts/colorCode/css/

# /m.layouts/colorCode/css/Blue/

# /m.layouts/colorCode/css/Gray/

# /m.layouts/colorCode/css/Orange/

# /m.layouts/colorCode/css/Red/

# /m.layouts/colorCode/css/nGreenA/

# /m.layouts/colorCode/css/nGreenB/

# /m.layouts/colorCode/img/

# /m.layouts/colorCode/img/Blue/

# /m.layouts/colorCode/img/Gray/

# /m.layouts/colorCode/img/Orange/

# /m.layouts/colorCode/img/Red/

# /m.layouts/colorCode/img/nGreenA/

# /m.layouts/colorCode/img/nGreenB/

# /m.layouts/colorCode/js/

# /m.layouts/default/

# /m.layouts/default/conf/

# /modules/

# /modules/editor/components/
/modules/editor/components/code_highlighter
/modules/editor/components/round_box

# /modules/editor/skins/

# /modules/editor/skins/xpresseditor/

# /modules/editor/skins/xpresseditor/css/

# /modules/editor/skins/xpresseditor/img/

# /modules/editor/skins/xpresseditor/js/

# /modules/message/m.skins/

# /modules/message/m.skins/default/

# /modules/message/m.skins/default/filter/

# /modules/message/m.skins/default/images/

# /modules/message/skins/default/

# /modules/message/skins/default/filter/

# /modules/message/skins/default/images/

# /modules/rss/tpl/js/

# /tests/
/tests/logs

# /tests/classes/db/

# /tests/classes/db/classes/

# /tests/classes/db/classes/db/

# /tests/classes/db/classes/db/queryparts/

# /tests/classes/db/classes/db/queryparts/condition/

# /tests/classes/db/classes/db/queryparts/table/

# /tests/classes/db/classes/xml/

# /tests/classes/db/classes/xml/xmlquery/

# /tests/classes/db/classes/xml/xmlquery/argument/

# /tests/classes/db/classes/xml/xmlquery/argument/data/

# /tests/classes/db/classes/xml/xmlquery/queryargument/

# /tests/classes/db/classes/xml/xmlquery/queryargument/data/

# /tests/classes/db/classes/xml/xmlquery/tags/

# /tests/classes/db/classes/xml/xmlquery/tags/condition/

# /tests/classes/db/classes/xml/xmlquery/tags/condition/data/

# /tests/classes/db/classes/xml/xmlquery/tags/table/

# /tests/classes/db/classes/xml/xmlquery/tags/table/data/

# /tests/classes/db/config/

# /tests/classes/db/db/

# /tests/classes/db/db/xml_query/

# /tests/classes/db/db/xml_query/cubrid/

# /tests/classes/db/db/xml_query/cubrid/data/

# /tests/classes/db/db/xml_query/mssql/

# /tests/classes/db/db/xml_query/mssql/data/

# /tests/classes/db/db/xml_query/mysql/

# /tests/classes/db/db/xml_query/mysql/data/

# /tests/classes/db/db/xml_query/sqlite/

# /tests/classes/db/db/xml_query/sqlite/data/

# /tools/dbxml_validator/

# /tools/dbxml_validator/tests/

# /tools/dbxml_validator/tests/data/

# /tools/dbxml_validator/tests/data/schema/

# /tools/dbxml_validator/tests/data/schema/warnings/

# /widgets/content/

# /widgets/content/conf/

# /widgets/content/queries/

# /widgets/content/skins/

# /widgets/content/skins/default/

# /widgets/content/skins/default/css/

# /widgets/content/skins/default/img/

# /widgets/content/skins/default/img/black/

# /widgets/content/skins/default/img/white/

# /widgets/content/skins/default/js/

# /widgets/language_select/skins/default/js/

# /widgetstyles/

# /widgetstyles/simple/
