
/files
/.buildpath
/.project
/.cache
/nbproject
/.settings
/.idea
/modules/shop/
/modules/textyle/
/config/config.user.inc.php
/modules/editor/components/code_highlighter
/modules/editor/components/round_box
/tests/logs