<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
	</grants>
    
	<permissions>
        <permission action="dispMobile_applicationAdminDirectory" target="manager" />
        <permission action="dispMobile_applicationAdminConfig" target="manager" />
        <permission action="dispMobile_applicationAdminTest" target="manager" />
        <permission action="dispMobile_applicationAdminUploadToStore" target="manager" />
        <permission action="dispMobile_applicationAdminRegisterApp" target="manager" />
        <permission action="dispMobile_applicationAdminKeyConfig" target="manager" />
        <permission action="dispMobile_applicationAdminKeyUnlock" target="manager" />
        <permission action="dispMobile_applicationAdminBuildApp" target="manager" />
        <permission action="dispMobile_applicationAdminTestApp" target="manager" />
        <permission action="dispMobile_applicationAdminStaticPage" target="manager" />

        <permission action="procMobile_applicationAdminSaveApp" target="manager" />
        <permission action="procMobile_applicationAdminRun" target="manager" />
        <permission action="procMobile_applicationAdminSaveConfiguration" target="manager" />
        <permission action="procMobile_applicationAdminSaveApp" target="manager" />
        <permission action="procMobile_applicationAdminDeleteApp" target="manager" />
        <permission action="procMobile_applicationAdminDeleteKey" target="manager" />
        <permission action="procMobile_applicationAdminSaveKey" target="manager" />
        <permission action="procMobile_applicationAdminUnlockKey" target="manager" />
        <permission action="procMobile_applicationAdminRename" target="manager" />
        <permission action="procMobile_applicationAdminDeleteFolder" target="manager" />
        <permission action="procMobile_applicationAdminDeleteFile" target="manager" />
        <permission action="procMobile_applicationAdminCreateFolder" target="manager" />
        <permission action="procMobile_applicationAdminCreateFile" target="manager" />
        <permission action="procMobile_applicationAdminUploadFile" target="manager" />
        <permission action="procMobile_applicationGenerateStaticPage" target="manager" />
	</permissions>
	
    <actions>
        <!--view-->
        <action name="dispMobile_applicationAdminDirectory" type="view" admin_index="true" />
        <action name="dispMobile_applicationAdminFileImage" type="view"/>
        <action name="dispMobile_applicationAdminFileText" type="view"  />
        <action name="dispMobile_applicationAdminConfig" type="view" />
        <action name="dispMobile_applicationAdminTest" type="view" />
        <action name="dispMobile_applicationAdminUploadToStore" type="view" />
        <action name="dispMobile_applicationAdminRegisterApp" type="view" />
        <action name="dispMobile_applicationAdminKeyConfig" type="view" />
        <action name="dispMobile_applicationAdminKeyUnlock" type="view" />
        <action name="dispMobile_applicationAdminBuildApp" type="view" />
        <action name="dispMobile_applicationAdminTestApp" type="view" />
        <action name="dispMobile_applicationAdminStaticPage" type="view" />

        <!--controller-->
        <action name="procMobile_applicationAdminImageSave" type="controller" />
        <action name="procMobile_applicationAdminSaveTextFile" type="controller" />
        <action name="procMobile_applicationAdminSaveConfiguration" type="controller" />
        <action name="procMobile_applicationAdminSaveApp" type="controller" />
        <action name="procMobile_applicationAdminDeleteApp" type="controller" />
        <action name="procMobile_applicationAdminDeleteKey" type="controller" />
        <action name="procMobile_applicationAdminSaveKey" type="controller" />
        <action name="procMobile_applicationAdminUnlockKey" type="controller" />
        <action name="procMobile_applicationAdminAjaxUnlockKey" type="controller" />
        <action name="procMobile_applicationAdminRename" type="controller" />
        <action name="procMobile_applicationAdminDeleteFolder" type="controller" />
        <action name="procMobile_applicationAdminDeleteFile" type="controller" />
        <action name="procMobile_applicationAdminCreateFolder" type="controller" />
        <action name="procMobile_applicationAdminCreateFile" type="controller" />
        <action name="procMobile_applicationAdminUploadFile" type="controller" />
        <action name="procMobile_applicationGenerateStaticPage" type="controller" />
	</actions>

</module>
