<phpunit bootstrap="./Bootstrap.php">
	<testsuites>
		<testsuite name="XE Core Test Suite">
            <file>./classes/context/ContextInstanceTest.php</file>
			<file>./classes/context/ContextTest.php</file>
            <file>./classes/frontendfile/FrontendFileHandlerTest.php</file>
            <file>./classes/module/ModuleMatcherTest.php</file>
            <file>./classes/module/ModuleHandlerInstanceTest.php</file>
            <file>./classes/security/SecurityTest.php</file>
            <file>./src/GlCMS/EventListener/CMSListenerTest.php</file>
            <file>./src/GlCMS/ModuleHandler/ModuleInstanceRetrieverTest.php</file>
		</testsuite>
	</testsuites>
	<logging>
		<log type="junit" target="./logs/junit.xml" />
		<log type="coverage-clover" target="./logs/clover.xml"/>
	</logging>
</phpunit>
