<!--%import("popup.js")-->
<!--%import("popup.css")-->
<!--%import("filter/insert_poll.xml")-->
<!--%import("../lang")-->

<!--// datepicker javascript plugin load -->
<!--%load_js_plugin("ui.datepicker")-->

<script type="text/javascript">
    var msg_poll_cannot_modify = "{$lang->msg_poll_cannot_modify}";
</script>

<div class="padder">

    <h3>{$component_info->title} ver. {$component_info->version}</h3>

    <form action="./" method="post" id="fo_component" onSubmit="procFilter(this, insert_poll); return false;"
          class="form-horizontal">
        <input type="hidden" name="component" value="{$component_info->component_name}"/>
        <input type="hidden" name="method" value="insertPoll"/>
        <input type="hidden" name="poll_srl" value=""/>


        <div class="control-group">
            <label class="control-label">{$lang->poll_stop_date}</label>
            <div class="controls">
                <input type="hidden" name="stop_date" id="stop_date" value="{date('Ymd',time()+60*60*24*30)}"/>
                <input type="text" class="inputDate" value="{date('Y-m-d',time()+60*60*24*30)}" readonly="readonly"/>
                <script type="text/javascript">
                    (function ($) {
                        $(function () {
                            var option = {
                                changeMonth: true,
                                changeYear: true,
                                gotoCurrent: false, yearRange: '-100:+10', onSelect: function () {
                                    $(this).prev('input[type="hidden"]').val(this.value.replace(/-/g, ""));
                                }
                            };
                            $.extend(option, $.datepicker.regional['{$lang_type}']);
                            $(".inputDate").datepicker(option);
                        });
                    })(jQuery);
                </script>

            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{$lang->skin}</label>
            <div class="controls">
                <select name="skin">
                    <!--@foreach($skin_list as $skin=>$skin_info)-->
                    <option value="{$skin}">{$skin_info->title} (skin by {$skin_info->maker->name})</option>
                    <!--@end-->
                </select>
            </div>
        </div>

        <div id="poll_source" style="display:none">
            <div>
                <div class="control-group">

                            <label class="control-label">{$lang->poll_chk_count}</label>

                        <div class="controls"><input type="text" name="checkcount_tidx" value="1" size="1"/></div>
                    </div>
                    <div class="control-group">

                            <label class="control-label">{$lang->poll_title}</label>

                        <div class="controls"><input type="text" name="title_tidx"/></div>
                    </div>

                    <div class="control-group">

                            <label class="control-label">{$lang->poll_item} 1</label>

                        <div class="controls"><input type="text" name="item_tidx_1"/></div>
                    </div>

                    <div class="control-group">

                            <label class="control-label">{$lang->poll_item} 2</label>

                        <div class="controls"><input type="text" name="item_tidx_2"/></div>
                    </div>

            </div>
            <div class="">
                <div class="controls">
            <button type="button" class="_add_item btn btn-small">{$lang->cmd_add_item}</button>
            <button type="button" class="_del_item btn btn-small">{$lang->cmd_del_item}</button>
            <button type="button" class="_del_poll btn btn-small">{$lang->cmd_del_poll}</button>
                </div>
            </div>
        </div>

        <div class="btnArea">
            <input class="btn btn-primary" type="submit" value="{$lang->cmd_submit}"/>
            <button class="btn" type="button" id="add_poll">{$lang->cmd_add_poll}</button>
            <!--<a
                    href="./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}"
                    target="_blank">{$lang->about_component}</a>-->
        </div>
    </form>

</div>