<load target="css/bootstrap.min.css" xmlns="http://www.w3.org/1999/html"/>
<load target="css/bootstrap-responsive.min.css" xmlns="http://www.w3.org/1999/html"/>
<load target="css/edit.css"/>
<load target="css/style.css"/>

{@ Context::addMetaTag("viewport", "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes") }

<div id="header" class="zone">
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row-fluid">

                <a class="brand" href="{$layout_info->index_url}" cond="$layout_info->logo_image"><img
                        src="{$layout_info->logo_image}" alt="{$layout_info->logo_image_alt}" border="0"/></a>
                <a class="brand" href="{$layout_info->index_url}" cond="!$layout_info->logo_image">{$layout_info->logo_image_alt}</a>

                <div class="nav-collapse collapse">
                    <div id="searchForm" class="input-append">
                        <form action="{getUrl()}" method="get" class="form-search"><input type="hidden" name="vid"
                                                                                          value="{$vid}"/>
                            <input type="hidden" name="mid" value="{$mid}"/>
                            <input type="hidden" name="act" value="IS"/>

                            <div>
                                <input type="text" placeholder="{$lang->cmd_search}" name="is_keyword" value="{$is_keyword}"/>
                                <button class="btn btn-inverse" type="submit" value="">{$lang->cmd_search}</button>
                            </div>
                        </form>
                        <script type="text/javascript">
                            jQuery(document).ready(function ($) {

                                var searchForm = $('#searchForm');

                                $(document).keydown(function (e) {
                                    if (e.keyCode == 27) {
                                        searchForm.close();
                                    }
                                    if (e.keyCode == 70 /* F */ && e.ctrlKey && e.shiftKey) {
                                        if (searchForm.status) {
                                            searchForm.close();
                                        }
                                        else {
                                            searchForm.open();
                                        }
                                    }
                                });



                            });
                        </script>
                    </div>
                        <ul class="nav">
                            <li loop="$main_menu->list=>$key1,$val1" class="
                                <!--@if(count($val1['list'])!=0)-->
                                 dropdown
                                <!--@end-->
                                <!--@if($val1['selected'])-->
                                 active
                                <!--@end-->
                                ">
                                <a href="{$val1['href']}"
                                <!--@if(count($val1['list'])!=0)-->
                                class="dropdown-toggle" data-toggle="dropdown"
                                <!--@end-->
                                target="_blank"|cond="$val1['open_window']=='Y'">
                                {$val1['link']}
                                </a>
                                <ul cond="$val1['list']" class="dropdown-menu">
                                    <li loop="$val1['list']=>$key2,$val2" class="active"
                                    |cond="$val2['selected']">
                                    <a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
                            </li>
                        </ul>
                        </li>
                        </ul>


                </div>
                <!--/.nav-collapse -->
</div>
                <div class="row-fluid"><div class="span12"> <img widget="login_info" skin="naked"/></div></div>
            </div>
        </div>
    </div>
</div><!--/.zone -->

<div class="zone" id="main-content">
    <div class="container">
        <div class="row-fluid">
            {$content}
        </div>
    </div>
</div>


<!-- FOOTER
================================================== -->
<div id="footer" class="zone">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <!-- FOOTER -->
                <p class="pull-right em"><a href="#">Back to top</a></p>

                <p class="em">Powered by <a href="http://karybu.org/">Karybu</a></p>
            </div>
        </div>
    </div>
</div>

<load target="../../../../common/js/bootstrap.js"/>