<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Karybu &middot; {{ page.title }}</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/karybu.css" rel="stylesheet">

    <link rel="shortcut icon" href="http://karybu.org/favicon.ico" />
    <link rel="icon" type="image/png" href="http://karybu.org/karybu-fav-128.png" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="main">
<a href="https://github.com/arnia/Karybu/" target="_blank" class="forkme"></a>
<div class="navbar-placeholder visible-desktop"></div>
<div class="wrapper">
    {% include main_navigation.html %}