<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            {% if page.title == 'Homepage' %}
            <a class="brand" href="upcoming.html"><img src="assets/img/karybu-name.png" alt="Karybu"/></a>
            {% else %}
            <a class="brand" href="upcoming.html"><img src="assets/img/karybu.png" alt="Karybu"/></a>
            {% endif %}


            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li
                    {% if page.title == 'Homepage' %} class="active" {% endif %}><a
                        href="upcoming.html">Home</a></li>
                    <li
                    {% if page.title == 'Getting started' %} class="active" {% endif %}><a
                        href="getting-started.html">Get
                    started</a></li>
                    <li
                    {% if page.title == 'Features' %} class="active" {% endif %}><a
                        href="features.html">Features</a></li>
                    <li
                    {% if page.title == 'Documentation' %} class="active" {% endif %}><a href="docs">Docs</a></li>
                    <li
                    {% if page.title == 'Contribute' %} class="active" {% endif %}><a
                        href="contribute.html">Contribute</a></li>
                    <li
                    {% if page.title == 'About' %} class="active" {% endif %}><a href="about.html">About</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>