html body {
    height:100%;
    overflow:hidden;
    min-width:320px;
}

/* layout resets */

.kDark h1, .kDark h2, .kDark h3, .kDark h4, .kDark h5, .kDark h6,
.swatchBoard h1, .swatchBoard h2, .swatchBoard h3, .swatchBoard h4, .swatchBoard h5, .swatchBoard h6 {
    -moz-text-shadow:none;
    text-shadow:none;
}

.swatchBoard h1, .swatchBoard h2, .swatchBoard h3, .swatchBoard h4, .swatchBoard h5, .swatchBoard h6 {
    color:#ffffff
}

.swatchBoard a, .swatchBoard a:hover, .swatchBoard a:visited, .swatchBoard a:active {
    color:#ffffff;
    text-decoration:none;
}

/* end layout resets */

.kWrapper {
    background-color:#ffffff;
    height:100%;
    float:left;
    width:80%;
}

.kWrapper-container {
    margin-right:80px;
    height:100%;
    margin-top:80px;
}

.kSidebar {
    background-color:#1d212a;
    height:100%;
    width:20%;
}

.kDark, .kDark a, .kDark a:visited {
    color:#6d7587;
}

.kDark a:hover {
    color:#99a2b5;
    text-decoration:none;
}

.kDark a:active, .kDark a:focus {
    color:#b6c0d7;
}

.kDark h1, .kDark h2, .kDark h3, .kDark h4, .kDark h5, .kDark h6 {
    color:#8ac64f;
}

#kMobileMenu > div {
    padding:20px;
    -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

.kNav {
    background-color:#1d212a;
    position:absolute;
    z-index:9999;
    height:100%;
    width:80px;
    right:0;
    top:0;
    margin:0;
}


.kNav ul {
    margin:0;
    padding:0
}

.kSearch {
    min-height:30px;
}

.kSidebar .kSearch input {
    padding-left:28px;
    background-color:#15181f;
    border:none;
    border-top:1px solid #000000;
    -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    color:#6D7587;
    height:24px;
    margin-top:-2px;
    position:relative;
}

.kSearch i {
    position:relative;
    top:-4px;
    left:9px;
    margin-right:-14px;
    z-index:99;
}

.page-title {
    border-bottom:1px solid #c7d2db;
    background-color:#ffffff;
    z-index:999;
    height:60px;
    padding:10px 40px;
}

.page-title h1 {
    line-height:1.6em;
    margin:0;
    font-weight:normal;

}

.page-title i {
    margin-left:-20px;
    margin-top:-10px;
}

.pagetitle-fixed {
    position:fixed;
    margin-top:-80px;

}

.content-pad {
    padding:40px 40px 20px;
}

p.power {
    padding:20px 40px 0;
}

p.cache {
    padding:0 40px 40px;
}

.toggle-sidebar {
    width:44px;
    height:44px;
    background:url("../img/tablet-sprite.png") 0 0 no-repeat;
    margin-top:5px;
    margin-right:10px;
    cursor:pointer;
}

.toggle-sidebar:hover, .toggle-sidebar:focus, .toggle-sidebar:active {
    background-position:0 -44px;
}

.toggle-search {
    width:44px;
    height:44px;
    background:url("../img/tablet-sprite.png") -44px 0 no-repeat;
    margin-top:5px;
    margin-right:10px;
    cursor:pointer;
}

.toggle-search:hover, .toggle-search:focus, .toggle-search:active {
    background-position:-44px -44px;
}

.kNav li {
    height:80px;
}

.kNav li a {
    display:block;
    height:80px;
    width:80px;
}

.kList li a {
    line-height:28px;
    display:block;
    padding:0 5px;
    margin:0 -5px;
}

.big-icon {
    background-image:url("../img/big-nav-icons.png");
    background-repeat:no-repeat;
    width:80px;
    height:80px;
}

li.big-icon {
    width:80px;
    height:80px;
}

.kNav ul {
    top:0;
}

.kNav a.small-logo {
    width:52px;
    height:24px;
    position:relative;
    top:20px;
    display:block;
    left:13px;
}

.board {
    padding-top:20px;
}

.swatchBoard {
    height:auto;
    padding:40px 40px 20px;
    background:#d1dbe4; /* Old browsers */
    background:-moz-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1dbe4), color-stop(100%, #e6f0f9)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* IE10+ */
    background:linear-gradient(to bottom, #d1dbe4 0%, #e6f0f9 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d1dbe4', endColorstr = '#e6f0f9', GradientType = 0); /* IE6-9 */
}

.dropdown-menu li a {
    padding:0px 10px;
}

/*

a.swatch,
a.swatch:visited,
a.swatch:hover,
a.swatch.visited,
a.swatch.hover {
    -webkit-transition: .15s linear;
    -moz-transition:.15s linear;
    -o-transition:.15s linear;
    transition:.15s linear;
}
*/

.swatch {
    padding:20px;
    color:#ffffff;
    height:142px;
    margin-bottom:20px;
}



.swatch .corner {
    border-top:10px solid #d5e0e9;
    border-left:10px solid transparent;
    width:0px;
    height:10px;
    float:right;
    margin-top:-20px;
    margin-right:-20px;
}

a.swatch:hover {
    text-shadow: 0px 5px 5px rgba(0,0,0,.4);
    filter: dropshadow(color=#000, offx=0, offy=2);
    -webkit-box-shadow: inset 0px 200px 55px 0px rgba(255, 255, 255, 0.15), 0px 25px 25px 0px rgba(255, 255, 255, 0.1) ;
    box-shadow: inset 0px 200px 55px 0px rgba(255, 255, 255, 0.15), 0px 25px 25px 0px rgba(255, 255, 255, 0.1);
}

.kNumbers {
    height:30px;
}

.kNumbers, .swatch strong {
    display:block;
    width:100%;
}

.admin {
    border:2px solid #15181f;
    -webkit-box-shadow:0px 1px 0px 0px rgba(88, 99, 124, 0.5);
    box-shadow:0px 1px 0px 0px rgba(88, 99, 124, 0.5);
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-top:4px;
    display:block;
    overflow:hidden;
    width:44px;
    height:44px;
}

.admin:hover {
    border-color:#8ac64f;
}

.kInfo {
    background-color:#15181f;
}

.kSearch {
    border-bottom-color:#0a0b0e !important;
}

.box .box-body li {
    padding-bottom:12px;
    margin-bottom:12px;
    border-bottom:1px solid #e0e0e0;
}

.box .box-body li:last-child {
    border-bottom:none;
}

.box {
    -webkit-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-bottom:20px;
}

.box-header {
    border-bottom:1px solid #e0e0e0;
    padding:14px 20px 10px;
}

.box-body {
    background-color:#f9f9f9;
    border-bottom:1px solid #e5e5e5;
    margin-bottom:5px;
    padding:14px 20px 10px;
}

.brand {
    background:#292c35; /* Old browsers */
    background:-moz-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #292c35), color-stop(51%, #1c1f28)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* IE10+ */
    background:linear-gradient(to bottom, #292c35 0%, #1c1f28 51%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#292c35', endColorstr = '#1c1f28', GradientType = 0); /* IE6-9 */
    min-height:56px;
    padding:12px 20px !important;
    white-space: nowrap;
}

.swatchBoard .turquoise {
    background-color:#57c5b9;
}

.swatchBoard .red {
    background-color:#ea6e4c;
}

.swatchBoard .yellow {
    background-color:#f8b33b;
}

.swatchBoard .blue {
    background-color:#489de6;
}

.swatchBoard .purple {
    background-color:#9876e4;
}

.swatchBoard .green {
    background-color:#8ac64f;
}

.big-icon-preview {
    background-position:0 0;
    -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

a.big-icon-preview:hover {
    background-position:-80px 0;
}

li.active a.big-icon-preview {
    background-position:-160px 0;
}

.big-icon-dashboard {
    background-position:0 -80px;
}

a.big-icon-dashboard:hover {
    background-position:-80px -80px;
}

li.active a.big-icon-dashboard {
    background-position:-160px -80px;
}

.big-icon-content {
    background-position:0 -160px;
}

a.big-icon-content:hover {
    background-position:-80px -160px;
}

li.active a.big-icon-content {
    background-position:-160px -160px;
}

.big-icon-menu {
    background-position:0 -240px;
}

a.big-icon-menu:hover {
    background-position:-80px -240px;
}

li.active a.big-icon-menu {
    background-position:-160px -240px;
}

.big-icon-theme {
    background-position:0 -320px;
}

a.big-icon-theme:hover {
    background-position:-80px -320px;
}

li.active a.big-icon-theme {
    background-position:-160px -320px;
}

.big-icon-member {
    background-position:0 -400px;
}

a.big-icon-member:hover {
    background-position:-80px -400px;
}

li.active a.big-icon-member {
    background-position:-160px -400px;
}

.big-icon-extensions {
    background-position:0 -480px;
}

a.big-icon-extensions:hover {
    background-position:-80px -480px;
}

li.active a.big-icon-extensions {
    background-position:-160px -480px;
}

.big-icon-settings {
    background-position:0 -560px;
}

a.big-icon-settings:hover {
    background-position:-80px -560px;
}

li.active a.big-icon-settings {
    background-position:-160px -560px;
}

.kDark li.active {
    background-color:#8ac64f;
}

.kDark textarea:focus,
.kDark input[type="text"]:focus,
.kDark input[type="password"]:focus,
.kDark input[type="datetime"]:focus,
.kDark input[type="datetime-local"]:focus,
.kDark input[type="date"]:focus,
.kDark input[type="month"]:focus,
.kDark input[type="time"]:focus,
.kDark input[type="week"]:focus,
.kDark input[type="number"]:focus,
.kDark input[type="email"]:focus,
.kDark input[type="url"]:focus,
.kDark input[type="search"]:focus,
.kDark input[type="tel"]:focus,
.kDark input[type="color"]:focus,
.kDark .uneditable-input:focus {
    border-color:rgba(128, 176, 65, 0.3);
    border-left:none;
    border-right:none;
    outline:0;
    outline:thin dotted  \9;
    /* IE6-9 */

    -webkit-box-shadow:inset 0 0 0 2px rgba(128, 176, 65, 0.9);
    -moz-box-shadow:inset 0 0 0 2px rgba(128, 176, 65, 0.9);
    box-shadow:inset 0 0 0 2px rgba(128, 176, 65, 0.9);
}


@media (max-width: 1280px) {



}


@media (max-width: 767px) {

    body {
        margin:0;
        padding:80px 0 120px
    }

    .kInfo { display: none; }

    .kWrapper {
        padding-bottom:80px!important;
    }

    .kNumbers {
        height:40px;
    }

    #kSidebar {
        display:block;
        width:100%;
        position:fixed;
        top:0;
        height:auto !important;
        overflow:visible !important;
        z-index:999;
        min-width:320px;
        font-size:12.224pt
    }

    #kSidebar input, #kSidebar h6 {
        font-size:12.224pt

    }


    .brand {
        -webkit-box-shadow:  0px 0px 8px 5px rgba(0, 0, 0, .5);

        box-shadow:  0px 0px 8px 5px rgba(0, 0, 0, .5);
    }

    #kMobileMenu {
        display: none;
    }


    form.action {
        display:block !important;
        position:static !important;
        margin-bottom:10px;
    }

    .kDark li a:active, .kDark li a:focus {
        outline:2px solid rgba(128, 176, 65, 0.9);
    }

    .kWrapper, .kWrapper-container {
        margin:0px;
        padding:0px;
        width:100%;
        position:static;
        display:block;
        float:none;
    }



    .pagetitle-fixed {
        position:static;
        margin-top:0;
    }

    .swatchBoard {
        margin:0;
        padding:20px;
    }

    #kNav {
        position:fixed;
        width:100%;
        bottom:0;
        left:0;
        top:auto;
        height:80px;
        z-index:999;
        overflow: hidden;
    }



    #kNav ul {
        height:80px; width: 642px; text-wrap: none; white-space: nowrap;
    }
    #kNav li {
        display:inline-block;
    }

    #kNav li:first-child {
        height:80px !important;
    }

    #kMobileMenu {
        margin-top:10px;
    }

    #kMobileMenu > div {
        padding:10px 20px;
    }

    .big-icon-preview {
        background-position:0 0px;
    }

    a.big-icon-preview:hover {
        background-position:-80px 0px;
    }

    li.active a.big-icon-preview {
        background-position:-160px 0px;
    }

    .big-icon-preview {
        height:80px !important;
    }



    .big-icon-preview {
        background-position:0 0;
        -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
        box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
        border-right:1px solid rgba(255, 255, 255, 0.1);
        border-bottom:none;
        box-shadow:inset -1px 0px 0px 0px rgba(0, 0, 0, 0.3);
    }

    .swatch {
        height:86px;
    }
}

.chart-tooltip {
    z-index:10000;
!important
}

.visitor {
}

.langEdit li.en input,
.langEdit li.en textarea,
.mLangEdit li.en textarea{background:url(../img/flag.us.gif) no-repeat 95%}
.langEdit li.ko input,
.langEdit li.ko textarea,
.mLangEdit li.ko textarea{background:url(../img/flag.kr.gif) no-repeat 95%}
.langEdit li.jp input,
.langEdit li.jp textarea,
.mLangEdit li.jp textarea{background:url(../img/flag.jp.gif) no-repeat 95%}
.langEdit li.fr input,
.langEdit li.fr textarea,
.mLangEdit li.fr textarea{background:url(../img/flag.fr.gif) no-repeat 95%}
.langEdit li.de input,
.langEdit li.de textarea,
.mLangEdit li.de textarea{background:url(../img/flag.de.gif) no-repeat 95%}
.langEdit li.ru input,
.langEdit li.ru textarea,
.mLangEdit li.ru textarea{background:url(../img/flag.ru.gif) no-repeat 95%}
.langEdit li.es input,
.langEdit li.es textarea,
.mLangEdit li.es textarea{background:url(../img/flag.es.gif) no-repeat 95%}
.langEdit li.tr input,
.langEdit li.tr textarea,
.mLangEdit li.tr textarea{background:url(../img/flag.tr.gif) no-repeat 95%}
.langEdit li.vi input,
.langEdit li.vi textarea,
.mLangEdit li.vi textarea{background:url(../img/flag.vn.gif) no-repeat 95%}
.langEdit li.mn input,
.langEdit li.mn textarea,
.mLangEdit li.mn textarea{background:url(../img/flag.mn.gif) no-repeat 95%}
.langEdit li.zh-CN input,
.langEdit li.zh-CN textarea,
.mLangEdit li.zh-CN textarea{background:url(../img/flag.cn.gif) no-repeat 95%}
.langEdit li.zh-TW input,
.langEdit li.zh-TW textarea,
.mLangEdit li.zh-TW textarea{background:url(../img/flag.tw.gif) no-repeat 95%}
.mLangEdit.en strong{background:url(../img/flag.us.gif) no-repeat 0 10px}
.mLangEdit.ko strong{background:url(../img/flag.kr.gif) no-repeat 0 10px}
.mLangEdit.jp strong{background:url(../img/flag.jp.gif) no-repeat 0 10px}
.mLangEdit.fr strong{background:url(../img/flag.fr.gif) no-repeat 0 10px}
.mLangEdit.de strong{background:url(../img/flag.de.gif) no-repeat 0 10px}
.mLangEdit.ru strong{background:url(../img/flag.ru.gif) no-repeat 0 10px}
.mLangEdit.es strong{background:url(../img/flag.es.gif) no-repeat 0 10px}
.mLangEdit.tr strong{background:url(../img/flag.tr.gif) no-repeat 0 10px}
.mLangEdit.vi strong{background:url(../img/flag.vn.gif) no-repeat 0 10px}
.mLangEdit.mn strong{background:url(../img/flag.mn.gif) no-repeat 0 10px}
.mLangEdit.zh-CN strong{background:url(../img/flag.cn.gif) no-repeat 0 10px}
.mLangEdit.zh-TW strong{background:url(../img/flag.tw.gif) no-repeat 0 10px}

.langEdit {
    background: #fff;
    position: absolute;
    z-index: 10;
}

*:focus {
    outline: none;
}