html body {
    height:100%;
    min-width:320px;
    margin-top: 40px;
}

body.x {
    margin-top: 0px;
    overflow: hidden;

}

/* layout resets */

.kDark h1, .kDark h2, .kDark h3, .kDark h4, .kDark h5, .kDark h6,
.swatchBoard h1, .swatchBoard h2, .swatchBoard h3, .swatchBoard h4, .swatchBoard h5, .swatchBoard h6 {
    -moz-text-shadow:none;
    text-shadow:none;
}

.swatchBoard h1, .swatchBoard h2, .swatchBoard h3, .swatchBoard h4, .swatchBoard h5, .swatchBoard h6 {
    color:#ffffff
}

.swatchBoard a, .swatchBoard a:hover, .swatchBoard a:visited, .swatchBoard a:active {
    color:#ffffff;
    text-decoration:none;
}


a, a:visited {
    color: #2e5587;
}

a:hover, a:focus {
    color: #0e4587
}

#kTopLayer {
    position: absolute;
    z-index: 99999999999;

/*
    width: 100%;
    height: 100%;
    background: red;
*/

}

/* end layout resets */



.kWrapper {
    background-color:#ffffff;
    height:100%;
    float:left;
    width:80%;
}

.kWrapper-container {
    margin-right:80px;
    height:100%;
    margin-top:80px;
}

.kSidebar {
    background-color:#1d212a;
    height:100%;
    width:20%;
}

.kDark, .kDark a, .kDark a:visited {
    color:#6d7587;
}

.kDark a:hover {
    color:#99a2b5;
    text-decoration:none;
}

.kDark a:active, .kDark a:focus {
    color:#b6c0d7;
}

.kDark h1, .kDark h2, .kDark h3, .kDark h4, .kDark h5, .kDark h6 {
    color:#8ac64f;
}

#kMobileMenu > div {
    padding:20px;
    -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

.kNav {
    background-color:#1d212a;
    position:absolute;
    z-index:9999;
    height:100%;
    width:80px;
    right:0;
    top:0;
    margin:0;
}


.kNav ul {
    margin:0;
    padding:0
}

.kSearch {
    min-height:30px;
}

.kSidebar .kSearch input {
    padding-left:28px;
    background-color:#15181f;
    border:none;
    border-top:1px solid #000000;
    -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    color:#6D7587;
    height:24px;
    margin-top:-2px;
    position:relative;
}

.kDark .kSearch i {
    position:relative;
    top:-4px;
    left:9px;
    margin-right:-14px;
    z-index:99;
    background-image: url("../img/glyphicons-halflings-white.png");
    
}

.page-title {
    border-bottom:1px solid #c7d2db;
    background-color:#ffffff;
    z-index:999;
    height:60px;
    padding:10px 40px;

}

.page-title, .main-nav {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .1);
}

.page-title h1 {
    line-height:1.6em;
    margin:0;
    font-weight:normal;

}

.page-title i {
    margin-left:-20px;
    margin-top:-10px;
}

.pagetitle-fixed {
    position:fixed;
    margin-top:-80px;

}

.content-pad {
    padding:40px 40px 20px;
}

p.power {
    padding:20px 40px 0;
}

p.cache {
    padding:0 40px 40px;
}

.toggle-sidebar {
    width:44px;
    height:44px;
    background:url("../img/tablet-sprite.png") 0 0 no-repeat;
    margin-top:5px;
    margin-right:10px;
    cursor:pointer;
}

.toggle-sidebar:hover, .toggle-sidebar:focus, .toggle-sidebar:active {
    background-position:0 -44px;
}

.toggle-search {
    width:44px;
    height:44px;
    background:url("../img/tablet-sprite.png") -44px 0 no-repeat;
    margin-top:5px;
    margin-right:10px;
    cursor:pointer;
}

.toggle-search:hover, .toggle-search:focus, .toggle-search:active {
    background-position:-44px -44px;
}

.kNav li {
    height:80px;
}

.kNav li a {
    display:block;
    height:80px;
    width:80px;
}

.kList li a {
    line-height:28px;
    display:block;
    padding:0 5px;
    margin:0 -5px;
}

.kList li span {
    line-height:28px;
    display:block;
    padding:0 5px;
    margin:0 -5px;
    color: #dbe6f1;
}

.big-icon {
    background-image:url("../img/big-nav-icons.png");
    background-repeat:no-repeat;
    background-position: 0 -640px;
    width:80px;
    height:80px;
}

li.big-icon {
    width:80px;
    height:80px;
}

.kNav ul {
    top:0;
}

.kNav a.small-logo {
    width:52px;
    height:24px;
    position:relative;
    top:20px;
    display:block;
    left:13px;
}

.board {
    padding-top:20px;
}

.swatchBoard {
    height:auto;
    padding:40px 40px 20px;
    background:#d1dbe4; /* Old browsers */
    background:-moz-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1dbe4), color-stop(100%, #e6f0f9)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top, #d1dbe4 0%, #e6f0f9 100%); /* IE10+ */
    background:linear-gradient(to bottom, #d1dbe4 0%, #e6f0f9 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d1dbe4', endColorstr = '#e6f0f9', GradientType = 0); /* IE6-9 */
}

.dropdown-menu li a {
    padding:0px 10px;
}

/*

a.swatch,
a.swatch:visited,
a.swatch:hover,
a.swatch.visited,
a.swatch.hover {
    -webkit-transition: .15s linear;
    -moz-transition:.15s linear;
    -o-transition:.15s linear;
    transition:.15s linear;
}
*/

.swatch {
    padding:20px;
    color:#ffffff;
    height:142px;
    margin-bottom:20px;
}



.swatch .corner {
    border-top:10px solid #d5e0e9;
    border-left:10px solid transparent;
    width:0px;
    height:10px;
    float:right;
    margin-top:-20px;
    margin-right:-20px;
}

a.swatch:hover {
    text-shadow: 0px 5px 5px rgba(0,0,0,.4);
    filter: dropshadow(color=#000, offx=0, offy=2);
    -webkit-box-shadow: inset 0px 200px 55px 0px rgba(255, 255, 255, 0.15), 0px 25px 25px 0px rgba(255, 255, 255, 0.1) ;
    box-shadow: inset 0px 200px 55px 0px rgba(255, 255, 255, 0.15), 0px 25px 25px 0px rgba(255, 255, 255, 0.1);
}

.kNumbers {
    height:30px;
}

.kNumbers, .swatch strong {
    display:block;
    width:100%;
}

.x .admin {
    border:2px solid #15181f;
    -webkit-box-shadow:0px 1px 0px 0px rgba(88, 99, 124, 0.5);
    box-shadow:0px 1px 0px 0px rgba(88, 99, 124, 0.5);
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-top:4px;
    display:block;
    overflow:hidden;
    width:44px;
    height:44px;
}

.x .admin:hover {
    border-color:#8ac64f;
}

.kInfo {
    background-color:#15181f;
}

.kSearch {
    border-bottom-color:#0a0b0e !important;
}


.portlet.box {
    height: 270px;
    overflow: hidden;
    line-height: 15px;
}


.portlet.box .kActionIcons,
.kList .kActionIcons {
    position:absolute;
    right: 0;
    top:0px;
    margin: 0;
    background: #f9f9f9;
    padding: 5px 0;
    opacity: 0;
    margin-right: -80px;
}


.portlet.box .kActionIcons i,
.kList .kActionIcons i {
    margin: 0;
}

.box .box-body ul {
    margin-top: -10px;
}

.box .box-body li {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #e0e0e0;
    line-height: 15px;
    position: relative;

}

.kList li {
    position: relative;
}

.box .box-body li span,
.box .box-body li form,
.kList li span,
.kList li form
{
    transition: .3s;
    -webkit-transition: .3s;
}

.box .box-body li:hover span.label,
.kList li:hover span.label
{
    opacity: 0;
    margin-right: -80px;
}

.box .box-body li:hover form,
.kList li:hover form
{
    margin-right:0;
    opacity: 1;

}

.kList .kActionIcons { background: none;
padding: 0}


.box .box-body li:last-child {
    border-bottom:none;
}

.box {
    -webkit-box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius:5px;
    border-radius:5px;
    margin-bottom:20px;
}

.box-header {
    border-bottom:1px solid #e0e0e0;
    padding:12px 20px 8px;
}

.box-body {
    background-color:#f9f9f9;
    border-bottom:1px solid #e5e5e5;
    margin-bottom:5px;
    padding:12px 20px 10px;
}

.x .brand {
    background:#292c35; /* Old browsers */
    background:-moz-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #292c35), color-stop(51%, #1c1f28)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top, #292c35 0%, #1c1f28 51%); /* IE10+ */
    background:linear-gradient(to bottom, #292c35 0%, #1c1f28 51%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#292c35', endColorstr = '#1c1f28', GradientType = 0); /* IE6-9 */
    min-height:56px;
    padding:12px 20px !important;
    white-space: nowrap;

}





.swatchBoard .turquoise {
    background-color:#57c5b9;
}

.swatchBoard .red {
    background-color:#ea6e4c;
}

.swatchBoard .yellow {
    background-color:#f8b33b;
}

.swatchBoard .blue {
    background-color:#489de6;
}

.swatchBoard .purple {
    background-color:#9876e4;
}

.swatchBoard .green {
    background-color:#8ac64f;
}

.big-icon-preview {
    background-position:0 0;
    -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

a.big-icon-preview:hover {
    background-position:-80px 0;
}

li.active a.big-icon-preview {
    background-position:-160px 0;
}

.big-icon-dashboard {
    background-position:0 -80px;
}

a.big-icon-dashboard:hover {
    background-position:-80px -80px;
}

li.active a.big-icon-dashboard {
    background-position:-160px -80px;
}

.big-icon-content {
    background-position:0 -160px;
}

a.big-icon-content:hover {
    background-position:-80px -160px;
}

li.active a.big-icon-content {
    background-position:-160px -160px;
}

.big-icon-menu {
    background-position:0 -240px;
}

a.big-icon-menu:hover {
    background-position:-80px -240px;
}

li.active a.big-icon-menu {
    background-position:-160px -240px;
}

.big-icon-theme {
    background-position:0 -320px;
}

a.big-icon-theme:hover {
    background-position:-80px -320px;
}

li.active a.big-icon-theme {
    background-position:-160px -320px;
}

.big-icon-member {
    background-position:0 -400px;
}

a.big-icon-member:hover {
    background-position:-80px -400px;
}

li.active a.big-icon-member {
    background-position:-160px -400px;
}

.big-icon-extensions {
    background-position:0 -480px;
}

a.big-icon-extensions:hover {
    background-position:-80px -480px;
}

li.active a.big-icon-extensions {
    background-position:-160px -480px;
}

.big-icon-settings {
    background-position:0 -560px;
}

a.big-icon-settings:hover {
    background-position:-80px -560px;
}

li.active a.big-icon-settings {
    background-position:-160px -560px;
}

.kDark li.active {
    background-color:#8ac64f;
}

.kDark textarea:focus,
.kDark input[type="text"]:focus,
.kDark input[type="password"]:focus,
.kDark input[type="datetime"]:focus,
.kDark input[type="datetime-local"]:focus,
.kDark input[type="date"]:focus,
.kDark input[type="month"]:focus,
.kDark input[type="time"]:focus,
.kDark input[type="week"]:focus,
.kDark input[type="number"]:focus,
.kDark input[type="email"]:focus,
.kDark input[type="url"]:focus,
.kDark input[type="search"]:focus,
.kDark input[type="tel"]:focus,
.kDark input[type="color"]:focus,
.kDark .uneditable-input:focus {
    border-color:rgba(128, 176, 65, 0.3);
    border-left:none;
    border-right:none;
    outline:0;
    outline:thin dotted  \9;
    /* IE6-9 */

    -webkit-box-shadow:inset 0 0 0 2px rgba(128, 176, 65, 0.9);
    -moz-box-shadow:inset 0 0 0 2px rgba(128, 176, 65, 0.9);
    box-shadow:inset 0 0 0 2px rgba(128, 176, 65, 0.9);
}


body.front #searchForm input[type="text"]:focus {
    border-color:rgba(128, 176, 65, 0.3);
    border:1px solid rgba(128, 176, 65, 0.9);
    outline:0;
    outline:thin dotted  \9;
    /* IE6-9 */

    -webkit-box-shadow:inset 0 0 0 1px rgba(128, 176, 65, 0.9);
    -moz-box-shadow:inset 0 0 0 1px rgba(128, 176, 65, 0.9);
    box-shadow:inset 0 0 0 1px rgba(128, 176, 65, 0.9);
}




@media (max-width: 1280px) {



}


@media (max-width: 767px) {

    body {
        margin:0;
        padding:80px 0 120px
    }

    .brand .row-fluid [class*="span"]
    {
        display: inline;
        width: auto;
    }

    .kInfo { display: none; }

    .kWrapper {
        padding-bottom:80px!important;
    }

    .kNumbers {
        height:40px;
    }

    #kSidebar {
        display:block;
        width:100%;
        position:fixed;
        top:0;
        height:auto !important;
        overflow:visible !important;
        z-index:999;
        min-width:320px;
        font-size:12.224pt;
        -webkit-box-shadow:  0px 0px 8px 5px rgba(0, 0, 0, .5);
        box-shadow:  0px 0px 8px 5px rgba(0, 0, 0, .5);
    }

    #kSidebar input, #kSidebar h6 {
        font-size:12.224pt

    }


    .brand {
        -webkit-box-shadow:  0px 0px 8px 5px rgba(0, 0, 0, .5);
        box-shadow:  0px 0px 8px 5px rgba(0, 0, 0, .5);
    }

    #kMobileMenu {
        display: none;

    }




    form.action {
        display:block !important;
        position:static !important;
        margin-bottom:10px;
    }

    .kDark li a:active, .kDark li a:focus {
        outline:2px solid rgba(128, 176, 65, 0.9);
    }

    .kWrapper, .kWrapper-container {
        margin:0px;
        padding:0px;
        width:100%;
        position:static;
        display:block;
        float:none;
    }



    .pagetitle-fixed {
        position:static;
        margin-top:0;
    }

    .page-title {
        padding: 10px 20px;
    }

    .page-title h1 {
        font-size: 20pt;
        line-height: 2.2em;
    }


    .kBigHeader .kWrapper-container {
        margin-top: 0
    }

    .kBigHeader .pagetitle-fixed {
        margin-top: 0
    }

    .kBigHeader .main-nav-holder {
        margin-top: -80px;
    }

    .kBigHeader #content {
        padding-top: 0;
    }



    .swatchBoard {
        margin:0;
        padding:20px;
    }

    #kNav {
        position:fixed;
        width:100%;
        bottom:0;
        left:0;
        top:auto;
        height:80px;
        z-index:999;
        overflow: hidden;
    }




    #kNav ul {
        height:80px; width: 642px; text-wrap: none; white-space: nowrap;
    }
    #kNav li {
        display:inline-block;
    }

    #kNav li:first-child {
        height:80px !important;
    }

    #kMobileMenu {
        margin-top:10px;
    }

    #kMobileMenu > div {
        padding:10px 20px;
    }

    .big-icon-preview {
        background-position:0 0px;
    }

    a.big-icon-preview:hover {
        background-position:-80px 0px;
    }

    li.active a.big-icon-preview {
        background-position:-160px 0px;
    }

    .big-icon-preview {
        height:80px !important;
    }



    .big-icon-preview {
        background-position:0 0;
        -webkit-box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
        box-shadow:inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
        border-right:1px solid rgba(255, 255, 255, 0.1);
        border-bottom:none;
        box-shadow:inset -1px 0px 0px 0px rgba(0, 0, 0, 0.3);
    }

    .swatch {
        height:86px;
    }

    .kSidebar > div.mCustomScrollBox {
        overflow: visible!important;
    }
}

.chart-tooltip {
    z-index:10000;
!important
}

#chart-container {
    margin-top: 0px;
    padding-top: 26px;
    padding-bottom: 0;
    background-color: rgba(104, 210, 198, 1);
}

.visitor {

    margin:-14px -20px -5px; background: none; border: none;
}

.alert.dashboard { margin: 20px 40px 0 }


/* TOOLTIPS START */

.tooltip {
    font-size:11px!important;
    line-height:14px;
    opacity:0;
    filter:alpha(opacity = 0);
    visibility:visible;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif!important;
    font-weight: normal!important;
}

.tooltip.in {
    opacity:1;
    filter:alpha(opacity = 100);
}

.tooltip-inner {
    padding:5px 8px;
    font-weight:bold;
    background-color:#619c14;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0px 1px 0px 0px #2b5800, inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px #78b824, 0 4px 6px rgba(70, 50, 20, 0.4);
    box-shadow:0px 1px 0px 0px #2b5800, inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px #78b824, 0 4px 6px rgba(70, 50, 20, 0.4);
    border:1px solid #6c9b30;


}

.tooltip.top {
    padding:6px 0;
    margin-top:-3px;
}

.tooltip.right {
    padding:0 6px;
    margin-left:3px;
}

.tooltip.bottom {
    padding:6px 0;
    margin-top:3px;
}

.tooltip.left {
    padding:0 6px;
    margin-left:-3px;
}

.tooltip.top .tooltip-arrow {
    margin-left:-7px;
    border-top-color:#5c9513;
    border-width:7px 7px 0;
}

.tooltip.right .tooltip-arrow {

    margin-top:-7px;
    border-right-color:#5c9513;
    border-width:7px 7px 7px 0;
}

.tooltip.left .tooltip-arrow {

    margin-top:-7px;
    border-left-color:#5c9513;
    border-width:7px 0 7px 7px;
}

.tooltip.bottom .tooltip-arrow {

    margin-left:-7px;
    border-bottom-color:#5c9513;
    border-width:0 7px 7px;
}

td.title .tooltip-inner {
    width: 440px;
}


.popover {
    background-color:#619c14;
    border:1px solid #6c9b30;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
    -webkit-box-shadow:0px 1px 0px 0px #2b5800, inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px #78b824, 0 4px 6px rgba(70, 50, 20, 0.4);
    box-shadow:0px 1px 0px 0px #2b5800, inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px #78b824, 0 4px 6px rgba(70, 50, 20, 0.4);
}

.popover-title {
    padding:9px;
    font-size:14px;
    font-weight:bold;
    line-height:18px;
    background-color:#365013;
    border-bottom:1px solid #78b824;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
    color:#ffffff;
    text-shadow:none;
    margin:-2px;
}

.popover-content {
    padding:7px 9px;
    font-size:11px;
    line-height:14px;
    color:#ffffff;
    font-weight:bold;
}

.popover-content p {
    margin:0;
}

.popover.top .arrow {
    bottom:-12px;
    left:50%;
    margin-left:-11px;
    border-top-color:#2B5800;
    border-bottom-width:0;
}

.popover.top .arrow:after {
    bottom:1px;
    margin-left:-10px;
    border-top-color:#5C9513;
    border-bottom-width:0;
}

.popover.right .arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-right-color:#78b824;
    border-left-width:0;
}

.popover.right .arrow:after {
    bottom:-11px;
    left:1px;
    border-right-color:#5C9513;
    border-left-width:0;
}

.popover.bottom .arrow {
    top:-11px;
    left:50%;
    margin-left:-11px;
    border-bottom-color:#2B5800;
    border-top-width:0;
}

.popover.bottom .arrow:after {
    top:1px;
    margin-left:-10px;
    border-bottom-color:#365013;
    border-top-width:0;
}

.popover.left .arrow {
    top:50%;
    right:-11px;
    margin-top:-12px;
    border-left-color:#78b824;
    border-right-width:0;
}

.popover.left .arrow:after {
    right:1px;
    bottom:-11px;
    border-left-color:#5C9513;
    border-right-width:0;
}

/* TOOLTIPS END */


/* BUTTONS START */


button.clear {
    margin: 0;
    padding: 0;
    background:none;
    border: none;
}


.btn,
.btn:visited,
.btn:hover,
.btn.visited,
.btn.hover,
.nav a,
.nav a:visited,
.nav a:hover,
.nav a:focus
{
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.swatchBoard a,
.swatchBoard a:visited,
.swatchBoard a:hover,
.swatchBoard a:focus
{
    -webkit-transition:text-shadow .1s, box-shadow .1s;
    -moz-transition:text-shadow .1s, box-shadow .1s;
    -o-transition:text-shadow .1s, box-shadow .1s;
    transition:text-shadow .1s, box-shadow .1s;
}

.btn {
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-size:10pt;
    font-weight:500;
    -webkit-border-radius:3px;
    border-radius:3px;
    color:#333333;
    padding:4px 20px;
    border:#777 1px solid;
    font-style: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:#ddd;
    background:-moz-linear-gradient(top, #fafafa 0%, #ddd 50%, #ccc 99%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(50%, #ddd), color-stop(99%, #ccc));
    background:-webkit-linear-gradient(top, #fafafa 0%, #ddd 50%, #ccc 99%);
    background:-o-linear-gradient(top, #fafafa 0%, #ddd 50%, #ccc 99%);
    background:-ms-linear-gradient(top, #fafafa 0%, #ddd 50%, #ccc 99%);
    background:linear-gradient(to bottom, #fafafa 0%, #ddd 50%, #ccc 99%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fafafa', endColorstr = '#ccc', GradientType = 0);
}

.btn span {
    margin: 0;
    padding: 0;
}

a.btn {
    color:#333
}

a.btn-primary, a.btn-danger, a.btn-info, a.btn-inverse, a.btn-success, a.btn-warning {
    color:#fff
}

.btn, .btn-group > .btn + .dropdown-toggle {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 rgba(0, 0, 0, .2);

}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #ddd;
    background-position:0, 0;
    box-shadow:0 1px 2px 0px rgba(0, 0, 0, 0.4), inset 0 1px 0px 0 rgba(255, 255, 255, .6), inset 0 30px 0 0 rgba(0, 0, 0, 0);
}

.btn.active,
.btn:active,
.btn-group > .btn + .dropdown-toggle:active,
.btn-group > .btn + .dropdown-toggle.active {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0), inset 0 2px 0 0 rgba(0, 0, 0, .5), inset 0 30px 0 0 rgba(0, 0, 0, .2);
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-group > .btn-primary + .dropdown-toggle:active,
.btn-group > .btn-primary + .dropdown-toggle.active{
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    font-size:10pt;
    border:1px solid #2b5800;
    background:#699332;
    background:-moz-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #90bb59), color-stop(100%, #65902e));
    background:-webkit-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:-o-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:-ms-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:linear-gradient(to bottom, #90bb59 0%, #65902e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#90bb59', endColorstr = '#65902e', GradientType = 0);

}


.btn-danger {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    border:1px solid #8a0000;
    background:#db1919;
    background:-moz-linear-gradient(top, #ef2d2d 0%, #c40202 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ef2d2d), color-stop(100%, #c40202));
    background:-webkit-linear-gradient(top, #ef2d2d 0%, #c40202 100%);
    background:-o-linear-gradient(top, #ef2d2d 0%, #c40202 100%);
    background:-ms-linear-gradient(top, #ef2d2d 0%, #c40202 100%);
    background:linear-gradient(to bottom, #ef2d2d 0%, #c40202 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ef2d2d', endColorstr = '#c40202', GradientType = 0);

}

.btn-warning {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    border:1px solid #af6600;
    background:#d39502;
    background:-moz-linear-gradient(top, #fec12d 0%, #d39502 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec12d), color-stop(100%, #d39502));
    background:-webkit-linear-gradient(top, #fec12d 0%, #d39502 100%);
    background:-o-linear-gradient(top, #fec12d 0%, #d39502 100%);
    background:-ms-linear-gradient(top, #fec12d 0%, #d39502 100%);
    background:linear-gradient(to bottom, #fec12d 0%, #d39502 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fec12d', endColorstr = '#d39502', GradientType = 0);
}


.btn-success {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    border:1px solid #2b5800;
    background:#699332;
    background:-moz-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #90bb59), color-stop(100%, #65902e));
    background:-webkit-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:-o-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:-ms-linear-gradient(top, #90bb59 0%, #65902e 100%);
    background:linear-gradient(to bottom, #90bb59 0%, #65902e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#90bb59', endColorstr = '#65902e', GradientType = 0);

}

.btn-info {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    border:1px solid #002564;
    background:#1976b3;
    background:-moz-linear-gradient(top, #2d8bc7 0%, #025f9c 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d8bc7), color-stop(100%, #025f9c));
    background:-webkit-linear-gradient(top, #2d8bc7 0%, #025f9c 100%);
    background:-o-linear-gradient(top, #2d8bc7 0%, #025f9c 100%);
    background:-ms-linear-gradient(top, #2d8bc7 0%, #025f9c 100%);
    background:linear-gradient(to bottom, #2d8bc7 0%, #025f9c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#2d8bc7', endColorstr = '#025f9c', GradientType = 0);

}


.btn-inverse {
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);
    border:1px solid #222222;
    background: #4d4d4d;
    background:-moz-linear-gradient(top, #626262 0%, #363636 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #626262), color-stop(100%, #363636));
    background:-webkit-linear-gradient(top, #626262 0%, #363636 100%);
    background:-o-linear-gradient(top, #626262 0%, #363636 100%);
    background:-ms-linear-gradient(top, #626262 0%, #363636 100%);
    background:linear-gradient(to bottom, #626262 0%, #363636 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#626262', endColorstr = '#363636', GradientType = 0);

}

.btn .caret {
    margin-right:-5px;
}

.btn-group > .btn + .dropdown-toggle .caret {
    margin-right:0;
}

[class^="icon-"], [class*=" icon-"] {

}


.btn-small,
.btn-small:hover,
.btn-small:active,
.btn-small:focus,
.btn-small.hover,
.btn-small.active,
.btn-small.focus
{
    font-size: .9em;
    line-height: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-large,
.btn-large:hover,
.btn-large:active,
.btn-large:focus,
.btn-large.hover,
.btn-large.active,
.btn-large.focus
{
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

/* BUTTONS END */

/* FORM ELEMENTS */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
    background-color:#ffffff;
    border:1px solid #c8c2b8;
    border-top-color:#98938b;
    border-bottom-color:#c8c2b8;
}

button:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    -webkit-box-shadow:0 0 6px 0 #6d7587;
    box-shadow:0 0 6px 0 #6d7587;
    border:1px solid #6d7587;
    outline:0;
}

.input-append .btn, .input-prepend .btn {
    box-shadow:none;
    font-size:10pt;

}

.input-append .add-on, .input-prepend .add-on {
    background-color:#f4efe9;
    border:1px solid #c8c2b8;
    border-top-color:#98938b;
    border-bottom-color:#c8c2b8;
    color:#7a766f;
    text-shadow:0 -1px 0 #ffffff;
    font-weight:bold;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: .8;
}

/* FORM ELEMENTS END */

.langEdit li.en input,
.langEdit li.en textarea,
.mLangEdit li.en textarea{background:url(../img/flag.us.gif) no-repeat 95%}
.langEdit li.ko input,
.langEdit li.ko textarea,
.mLangEdit li.ko textarea{background:url(../img/flag.kr.gif) no-repeat 95%}
.langEdit li.jp input,
.langEdit li.jp textarea,
.mLangEdit li.jp textarea{background:url(../img/flag.jp.gif) no-repeat 95%}
.langEdit li.fr input,
.langEdit li.fr textarea,
.mLangEdit li.fr textarea{background:url(../img/flag.fr.gif) no-repeat 95%}
.langEdit li.de input,
.langEdit li.de textarea,
.mLangEdit li.de textarea{background:url(../img/flag.de.gif) no-repeat 95%}
.langEdit li.ru input,
.langEdit li.ru textarea,
.mLangEdit li.ru textarea{background:url(../img/flag.ru.gif) no-repeat 95%}
.langEdit li.es input,
.langEdit li.es textarea,
.mLangEdit li.es textarea{background:url(../img/flag.es.gif) no-repeat 95%}
.langEdit li.tr input,
.langEdit li.tr textarea,
.mLangEdit li.tr textarea{background:url(../img/flag.tr.gif) no-repeat 95%}
.langEdit li.vi input,
.langEdit li.vi textarea,
.mLangEdit li.vi textarea{background:url(../img/flag.vn.gif) no-repeat 95%}
.langEdit li.mn input,
.langEdit li.mn textarea,
.mLangEdit li.mn textarea{background:url(../img/flag.mn.gif) no-repeat 95%}
.langEdit li.zh-CN input,
.langEdit li.zh-CN textarea,
.mLangEdit li.zh-CN textarea{background:url(../img/flag.cn.gif) no-repeat 95%}
.langEdit li.zh-TW input,
.langEdit li.zh-TW textarea,
.mLangEdit li.zh-TW textarea{background:url(../img/flag.tw.gif) no-repeat 95%}
.mLangEdit.en strong{background:url(../img/flag.us.gif) no-repeat 0 10px}
.mLangEdit.ko strong{background:url(../img/flag.kr.gif) no-repeat 0 10px}
.mLangEdit.jp strong{background:url(../img/flag.jp.gif) no-repeat 0 10px}
.mLangEdit.fr strong{background:url(../img/flag.fr.gif) no-repeat 0 10px}
.mLangEdit.de strong{background:url(../img/flag.de.gif) no-repeat 0 10px}
.mLangEdit.ru strong{background:url(../img/flag.ru.gif) no-repeat 0 10px}
.mLangEdit.es strong{background:url(../img/flag.es.gif) no-repeat 0 10px}
.mLangEdit.tr strong{background:url(../img/flag.tr.gif) no-repeat 0 10px}
.mLangEdit.vi strong{background:url(../img/flag.vn.gif) no-repeat 0 10px}
.mLangEdit.mn strong{background:url(../img/flag.mn.gif) no-repeat 0 10px}
.mLangEdit.zh-CN strong{background:url(../img/flag.cn.gif) no-repeat 0 10px}
.mLangEdit.zh-TW strong{background:url(../img/flag.tw.gif) no-repeat 0 10px}

.langEdit {
    background: #fff;
    position: absolute;
    z-index: 10;
}

*:focus {
    outline: none;
    box-shadow: none;
}

.pull-top {
    vertical-align: top;
}

.mCS_no_scrollbar {
    overflow: visible!important;
}

.help-block, .help-inline {
    color: #777777;
    font-size: 1em;
}






/* OLDX THEME */

.x .thumbPreview li {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.x .thumbPreview,
.x .thumbPreview ul,
.x .thumbPreview li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.x fieldset .thumbPreview > li {
    padding: 16px 20px 20px;
}

.x #skin .thumbPreview > li {
    transition: .5s;
    -webkit-transition: .5s;
    padding: 16px 20px 20px;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid transparent;

}

.x #skin .thumbPreview li.active.highlight {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.8), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    color: #333333;
    background-color: #d4e5bf;
    border-color: #97bc66;
}

}

.x .thumbPreview .prevToggle {
    position: absolute;
    top: 8px;
    right: 10px;
    line-height: 16px;
    text-decoration: none;}

.x .thumbPreview li.active .prevToggle .caret {
    border-top: none;
    border-bottom: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.x .thumbPreview .a {
    border: 0;
    margin: 0;
    zoom: 1;
}

.x .thumbPreview .a:after {
    content: "";
    display: block;
    clear: both;
}

.x .thumbPreview .i {
    float: left;
    vertical-align: top;
    margin: 0 1em 1em 0;
    padding: 0;
    border: 0;
    zoom: 1;
}

.x .thumbPreview .i:after {
    content: "";
    display: block;
    clear: both;
}

.x .thumbPreview .i .thumb {
    position: relative;
    width: 124px;
    height: 84px;
    padding: 0;
    margin-bottom: 3px;
    text-align: center;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.x .thumbPreview .i .thumb .frame {
    position: absolute;
    width: 120px;
    height: 80px;
    left: 0;
    top: 0;
    overflow: hidden;
}

.x .thumbPreview .i .thumb img {
    width: 120px;
    margin: 0;
}

.x .thumbPreview .i label {
    display: block;
    position: relative;
    top: -10px;
    left: 0px;
    width: 114px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    background-color: rgba(109,117,135,.8);
    color: #fff;
    text-shadow: 0 1px 0 #6d7587;
}


.x .thumbPreview .i input {
    display: none;
}

.x .thumbPreview .i ul {
    display: none;
}

.x .thumbPreview .selected .i {
    display: block;
    float: none;
}

.x .thumbPreview .selected .i .thumb {
    float: left;
    width: 186px;
    height: 126px;
    line-height: 126px;
    margin: 0 1em 0 0;
    border: 2px solid #6d7587;
}

.x .thumbPreview .selected .i .thumb .frame {
    width: 180px;
    height: 120px;
    border-width: 3px;
}

.x .thumbPreview li.active.highlight .selected .i .thumb {
    border-color: #8ac64f;
}

.x .thumbPreview .selected .i .thumb img {
    width: 180px;
    position: relative;
}

.x .thumbPreview li.active .selected .i .thumb img {
    z-index: auto;
}

.x .thumbPreview .selected .i label {
    cursor: text;
}

.x .thumbPreview .selected .i ul {
    display: block;
    list-style: none;
    border: 0;
    margin: 1em 0 1em 200px;
}

.x .thumbPreview .selected .i li {
    border: 0;
    padding: 0;
    margin: 0 0 .2em 0;
}

.x .thumbPreview.jx .i label {
    display: inline;
    width: auto;
}

.x .thumbPreview.jx .i.noDirection {
    display: none;
}

.x .thumbPreview.jx .i input {
    display: inline;
}

.x #skin .showAll {
    float: right;
    border: 0;
    overflow: visible;
    padding: 0 18px 0 0;
    cursor: pointer;
    color: #00f;
    background: url(../img/iconArrow.gif) no-repeat right -32px;
}

.x #skin .showAll.hideAll {
    background-position: right 0;
}

.x #theme li.i,
.x #skin li.i{
    top:-20px;
}

.x #theme li.i .thumb,
.x #skin li.i .thumb {
    top:20px;
}

.x #theme ul.well {
    padding: 10px 20px!important;
}

.x #theme .thumbPreview li.active.highlight {
    background: none;
}

.x #theme .thumbPreview .prevToggle {
    position: static;
    left: 0;
    line-height: 16px;
    text-decoration: none;
}

.x #theme .thumbPreview li.active .prevToggle {
    background-position: right 0;
}

.x #theme .scrollable-table-container {
    height: 100px;
}

.x #theme {
    padding: 6px 10px 10px;
}

.x .btnArea.padding { padding: 20px; border-top: 1px solid #ddd}