html body {
    height: 100%;
}

.kWrapper {
    margin-left: 320px;
    margin-right: 100px;
    background-color: #ffffff;
    z-index: 99;
    position: relative;
    padding-top: 104px;
}

.kSidebar {
    position: fixed;
    width: 300px;
    background-color: #1d212a;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.dark, .dark a {
    color: #6d7587;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #80b041;
}


.kSidebar > div {
    padding: 20px;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.kNav {
    position: fixed;
    width: 80px;
    background-color: #1d212a;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 999;
    margin-bottom: 0;
}

.kSearch {
    min-height: 30px;
}

.kSearch input {
    padding-left: 28px;
    background-color: #15181f;
    border: none;
    border-top: 1px solid #000000;
    width: 224px;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #6D7587;
    height: 24px;
    margin-top: -2px;
}

.kSearch i{
    position: relative;
    margin-left: -250px;
    margin-top: 8px;
}

.kWrapper > div {
    margin-bottom: 20px;
}

.page-header {
    margin: 0px -40px 0px;
    padding: 16px 40px 0px;
    border-color: #c7d2db;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    height: 88px;
    top: 0px;
}


.page-header h1 {
    line-height: 1.6em;
    margin-bottom: 6px;
    font-weight: normal;

}

.page-header i {
    margin-left: -20px;
    margin-top: -10px;
}

.toggle-sidebar {
    background-color: #000000;
    height: 20px;
    width: 20px;
}

.kNav li:first-child {
    height: 104px !important;
}

.kNav li {
    height: 80px;
}

.kNav li a {
    display: block;
    height: 80px;
    width: 80px;
}

.kList li {
    line-height: 28px;
}

.big-icon {
    background-image: url("../img/big-nav-icons.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

li.big-icon {
    width: 80px;
    height: 80px;
}

.kNav ul {
    position: absolute;
    top: 0;
}

.small-logo {
    width: 60px;
    height: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    min-height: 720px;
}

.small-logo a {
    width: 52px;
    height: 24px;
    position: absolute;
    bottom: 40px;
    display: block;
    left: 13px;
}

.board {
    padding-top: 20px;
}

.swatchBoard {
    height: auto;
    background: #d1dbe4; /* Old browsers */
    background: -moz-linear-gradient(top,  #d1dbe4 0%, #e6f0f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1dbe4), color-stop(100%,#e6f0f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d1dbe4 0%,#e6f0f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d1dbe4 0%,#e6f0f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d1dbe4 0%,#e6f0f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d1dbe4 0%,#e6f0f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1dbe4', endColorstr='#e6f0f9',GradientType=0 ); /* IE6-9 */
    margin: 0px -40px 0px;
    padding: 40px 40px 20px;
}

.dropdown-menu li a {
    padding: 0px 10px;
}

.swatch {
    padding: 20px;
    color: #ffffff;
    height: 142px;
    margin-bottom: 20px;
}

.swatch a{
    color: #ffffff;
}

.swatch .corner {
    border-top: 10px solid #d5e0e9;
    border-left: 10px solid transparent;
    width: 0px;
    height: 10px;
    float: right;
    margin-top: -20px;
    margin-right: -20px;
}

.admin{
    border: 2px solid #15181f;
    -webkit-box-shadow:  0px 1px 0px 0px rgba(88, 99, 124, 0.5);
    box-shadow:  0px 1px 0px 0px rgba(88, 99, 124, 0.5);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 8px;
    display: block;
    overflow: hidden;
    width: 44px;
    height: 44px;
}

.admin:hover{
    border-color: #80b041;
}

.kInfo {
    background-color: #15181f;
}

.kSearch {
    border-bottom-color: #0a0b0e !important;
}

.box .box-body li {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.box .box-body li:last-child {
    border-bottom: none;
}

.box {
    -webkit-box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 14px 20px 10px;
}

.box-body {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
    padding: 14px 20px 10px;
}

.brand {
    background: #292c35; /* Old browsers */
    background: -moz-linear-gradient(top,  #292c35 0%, #1c1f28 51%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292c35), color-stop(51%,#1c1f28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #292c35 0%,#1c1f28 51%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #292c35 0%,#1c1f28 51%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #292c35 0%,#1c1f28 51%); /* IE10+ */
    background: linear-gradient(to bottom,  #292c35 0%,#1c1f28 51%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292c35', endColorstr='#1c1f28',GradientType=0 ); /* IE6-9 */
    min-height: 64px;
}


.swatchBoard .turquoise {background-color: #57c5b9;}
.swatchBoard .red {background-color: #ea6e4c;}
.swatchBoard .yellow {background-color: #f8b33b;}
.swatchBoard .blue {background-color: #489de6;}
.swatchBoard .purple {background-color: #9876e4;}
.swatchBoard .green {background-color: #73cd46;}

.big-icon-preview {
    background-position: 0 12px;
    -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 104px !important;
}
a.big-icon-preview:hover {background-position: -80px 12px;}
li.active a.big-icon-preview {background-position: -160px 12px;}

.big-icon-dashboard {background-position: 0 -80px;}
a.big-icon-dashboard:hover {background-position: -80px -80px;}
li.active a.big-icon-dashboard {background-position: -160px -80px;}

.big-icon-content {background-position: 0 -160px;}
a.big-icon-content:hover {background-position: -80px -160px;}
li.active a.big-icon-content {background-position: -160px -160px;}

.big-icon-menu {background-position: 0 -240px;}
a.big-icon-menu:hover {background-position: -80px -240px;}
li.active a.big-icon-menu {background-position: -160px -240px;}

.big-icon-theme {background-position: 0 -320px;}
a.big-icon-theme:hover {background-position: -80px -320px;}
li.active a.big-icon-theme {background-position: -160px -320px;}

.big-icon-member {background-position: 0 -400px;}
a.big-icon-member:hover {background-position: -80px -400px;}
li.active a.big-icon-member {background-position: -160px -400px;}

.big-icon-settings {background-position: 0 -480px;}
a.big-icon-settings:hover {background-position: -80px -480px;}
li.active a.big-icon-settings {background-position: -160px -480px;}

li.active {
    background-color: #80b041;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(128, 176, 65, 0.3);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 0 0 2px rgba(128, 176, 65, 0.9);
    -moz-box-shadow: inset 0 0 0 2px rgba(128, 176, 65, 0.9);
    box-shadow: inset 0 0 0 2px rgba(128, 176, 65, 0.9);
}


@media (max-width: 767px) {
    .kWrapper {
        margin: 0px 0px -80px -20px;
        padding: 0px 0px 80px 20px!important;
    }

    .kNav {
        position: fixed;
        width: 100%;
        bottom:0px;
        left: 0;
        top: auto;
        height: 80px;
        z-index: 999;
    }

    .swatchBoard {
        margin-right: 0px; margin-left: -20px; padding-right: 20px; padding-left: 20px;padding-top: 128px;
    }

    .kNav li {
        display: inline-block;
    }

    .kNav li:first-child {
        height: 80px !important;
    }

    .big-icon-preview {background-position: 0 0px;}
    a.big-icon-preview:hover {background-position: -80px 0px;}
    li.active a.big-icon-preview {background-position: -160px 0px;}
    .big-icon-preview {
        height: 80px !important;
    }
}
.RGraph_tooltip{
    z-index: 10000; !important
}
.visitor-chart{
    width: 100%;
}