<load target="js/spamfilter_admin.js" usecdn="true" />
<div cond="$XE_VALIDATOR_MESSAGE" class="alert alert-block alert-{$XE_VALIDATOR_MESSAGE_TYPE}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>{$XE_VALIDATOR_MESSAGE}</p>
</div>
<form id="spamfilterDelete" action="" method="post">
	<input type="hidden" name="module" value="spamfilter" />
	<input type="hidden" name="act" value="" />
	<input type="hidden" name="ipaddress" value="" />
	<input type="hidden" name="word" value="" />
	<input type="hidden" name="ruleset" value="">
</form>
<form action="./" id="spamfilterConfig" class="form" ruleset="@insertConfig" method="post">
	<input type="hidden" name="act" value="procSpamfilterAdminInsertConfig" />
	<input type="hidden" name="module" value="spamfilter" />
	<input type="hidden" name="ruleset" value="insertConfig" />
	<h3 class="h3">{$lang->spamfilter}</h3>
    <div class="control-group form-inline">
        <label class="control-label">{$lang->cmd_interval}</label>
        <div class="controls">
            <label for="spamCond1_yes" class="radio inline">
                <input type="radio" name="limits" id="spamCond1_yes" value="Y" <!--@if($config->limits=='Y' || $config->limits =='')-->checked="checked"<!--@end--> />
                {$lang->cmd_yes}
            </label>
            <label for="spamCond1_no" class="radio inline">
                <input type="radio" name="limits" id="spamCond1_no" value="N" <!--@if($config->limits!='Y' && $config->limits !='')--> checked="checked"<!--@end--> />
                {$lang->cmd_no}
            </label>
        </div>
    </div>
    <div class="control-group form-inline">
        <label class="control-label">{$lang->cmd_check_trackback}</label>
        <div class="controls">
            <label for="spamCond2_yes" class="radio inline">
                <input type="radio" name="check_trackback" id="spamCond2_yes" value="Y" <!--@if($config->check_trackback=='Y' || $config->check_trackback=='')--> checked="checked"<!--@end--> />
               {$lang->cmd_yes}
            </label>
            <label for="spamCond2_yes" class="radio inline">
                <input type="radio" name="check_trackback" id="spamCond2_yes" value="N" <!--@if($config->check_trackback!='Y' &&  $config->check_trackback!='')--> checked="checked"<!--@end--> / >
                {$lang->cmd_no}
            </label>
        </div>
    </div>
    <div class="control-group form-inline">
        <label class="control-label">Use words blacklist for...</label>
        <div class="controls">
            <label style="margin-right: 50px;">
                <input type="checkbox" name="usage[]" value="comments"<!--@if (in_array('comments', $config->usage))--> checked<!--@end-->>
                Comments
            </label>
            <label>
                <input type="checkbox" name="usage[]" value="articles"<!--@if (in_array('articles', $config->usage))--> checked<!--@end-->>
                Articles
            </label>
        </div>
    </div>
    <div class="control-group form-inline">
        <label class="control-label" for="action_bad_words">Action to perform on bad words detection</label>
        <div class="controls">
            <select class="form-control" id="action_bad_words" name="action_bad_words">
                <option value="replace" selected="selected"|cond="$config->action_bad_words == 'replace'">replace with *s</option>
                <option value="stop" selected="selected"|cond="$config->action_bad_words == 'stop'">don't publish</option>
            </select>
        </div>
    </div>
    <div class="btnArea">
		<button class="btn btn-primary" type="submit">{$lang->cmd_save}</button>
	</div>
</form>
<form action="./" id="spamfilterInsert" class="form" method="post">
	<input type="hidden" name="act" value="" />
	<input type="hidden" name="module" value="spamfilter" />
	<input type="hidden" name="ruleset" value="" />
    <div class="control-group form-inline">
        <label class="control-label">{$lang->cmd_denied_ip}</label>
        <div class="controls">
            <ul class="unstyled">
                <!--@foreach($ip_list as $ipListKey)-->
                <li>{$ipListKey->ipaddress} <!--@if($ipListKey->description)-->// {$ipListKey->description} <!--@end-->
                    <a href="#" onclick="doDeleteDeniedIP('{$ipListKey->ipaddress}')">{$lang->cmd_delete}</a>
                </li>
                <!--@endforeach-->
            </ul>
            <textarea rows="2" cols="42" name="ipaddress_list" title="Ip addresses blacklist"></textarea>
                <button class="btn pull-top" type="button" onclick="doInsertDeniedIP('{$lang->msg_invalid_format}')">{$lang->cmd_insert}</button>
                <span class="pull-top">{$lang->about_denied_ip}</span>
        </div>
    </div>
    <div class="control-group form-inline">
        <label class="control-label">{$lang->cmd_denied_word}</label>
        <div class="controls">
            <ul class="unstyled">
                <!--@foreach($word_list as $wordListKey)-->
                <li>{$wordListKey->word} <a href="#" onclick="doDeleteDeniedWord('{$wordListKey->word}')">{$lang->cmd_delete}</a></li>
                <!--@end-->
            </ul>
            <textarea rows="2" cols="42" name="word_list" title="words blacklist"></textarea>
            <button class="btn pull-top" type="button" onclick="doInsertDeniedWord('{$lang->msg_invalid_format}')">{$lang->add}</button>
            <span class="pull-top">{$lang->about_denied_word}</span>
        </div>
    </div>
</form>
<form id="spamfilterAkismetApiKey" action="./" method="POST">
    <div class="control-group form-inline">
        <label class="control-label" for="akismet_api_key">{$lang->set_akismet_api_key}</label>
        <div class="controls">
            <input type="hidden" name="act" value="procSpamfilterAdminUpdateAkismetApiKey" />
            <input type="hidden" name="module" value="spamfilter" />
            <input type="hidden" name="ruleset" value="updateAkismetApiKey" />
            <input value="{$config->akismet_api_key}" type="text" name="akismet_api_key" id="akismet_api_key" title="{$lang->set_akismet_api_key}">
            <p class="desc">{$lang->about_akismet_api_key}</p>
        </div>
    </div>
    <div class="btnArea">
        <button class="btn btn-primary" type="submit">{$lang->cmd_save}</button>
    </div>
</form>
<script type="text/javascript">
    if (typeof xe.lang != "undefined"){
        xe.lang.confirm_delete = '{$lang->confirm_delete}';
    }
</script>
