@charset "utf-8";
.widget_title {
    border: 1px solid #ddd;
    margin: 10px 5px 5px 0;
    padding: 3px;
}

.widget_mid_list {
    margin:0 0 5px 10px;
}

.widget_description {
    color: #aaa;
    border-top: 1px dotted #eee;
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
}

#colorset_area {
    margin-top:.5em;
}

#colorset_area .header {
    float: left;
    margin-right: .5em;
    padding-top: .2em;
}

#colorset_area .footer {
    float:left;
}

#zonePageContent {
    width: 100%;
    padding: none !important;
    margin: none !important;
}

.pageAddContent{
    width:700px;
}

.widgetOutput {
    float: left;
    cursor: move;
    z-index: 998;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.widgetOutput:hover, .widgetOutput .widgetOutput:hover {
    box-shadow:         0px 0px 0px 10px #ffffbe;
    -webkit-box-shadow: 0px 0px 0px 10px #ffffbe;
    -moz-box-shadow:    0px 0px 0px 10px #ffffbe;
}

.widgetOutput .widgetBorder {
    border: 1px dashed #cfcfcf;
    z-index: 999;
    padding: 5px;
}

.widgetOutput .widgetBoxBorder {
    border: 1px dashed #555;
    z-index: 999;
    padding: 10px;
}

.widgetOutput:hover .widgetBoxBorder:before {
    content:"BOX";
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
    font-size: 48px;
    text-align: center;
    display: block;
    font-weight: bold;
    line-height: 48px;
    height: 48px;
    margin-bottom: -43px;
    color: #888;
    margin-top: -5px;
}


.widgetOutput .widgetResize {
    background:transparent url("../images/resize_br.png") no-repeat left bottom;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 2px;
    right: 3px;
    cursor: pointer;
    z-index: 1000;
    border: 0;
}

.widgetOutput .widgetResizeLeft {
    background: transparent url("../images/resize_bl.png") no-repeat left bottom;
    width: 14px;
    height:14px;
    position: absolute;
    bottom: 2px;
    left: 3px;
    cursor: pointer;
    z-index: 1000;
    border: 0;
}

.widgetOutput .widgetBoxResize {
    background:transparent url("../images/resize_br.png") no-repeat left bottom;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 2px;
    right: 3px;
    cursor: pointer;
    z-index: 1000;
    border: 0;
}

.widgetOutput .widgetBoxResizeLeft {
    background: transparent url("../images/resize_bl.png") no-repeat left bottom;
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: 2px;
    left: 3px;
    cursor: pointer;
    z-index: 1000;
    border: 0;
}

.widgetButtons {
    z-index: 9999;
    overflow: hidden;
    float: left;
    padding: 3px 0 4px;
    position: absolute;
    visibility: hidden;
}

#widgetButton {
    /*min-width: 146px;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #54544c;
    background: #717171;
    background: -moz-linear-gradient(top,  #717171 0%, #373737 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717171), color-stop(100%,#373737));
    background: -webkit-linear-gradient(top,  #717171 0%,#373737 100%);
    background: -o-linear-gradient(top,  #717171 0%,#373737 100%);
    background: -ms-linear-gradient(top,  #717171 0%,#373737 100%);
    background: linear-gradient(to bottom,  #717171 0%,#373737 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#373737',GradientType=0 );
    left: 8px;
    top: 8px;
}

#widgetButton img, #widgetBoxButton img {
    background-position: center center;
    border-right: 1px solid rgba(255,255,255,.1);
    cursor: pointer;
    padding: 3px 8px 5px 7px;
    z-index: 1000;
}

#widgetButton div:last-child {
    border-right: 0;
}

#widgetBoxButton {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #54544c;
    background: #717171;
    background: -moz-linear-gradient(top,  #717171 0%, #373737 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717171), color-stop(100%,#373737));
    background: -webkit-linear-gradient(top,  #717171 0%,#373737 100%);
    background: -o-linear-gradient(top,  #717171 0%,#373737 100%);
    background: -ms-linear-gradient(top,  #717171 0%,#373737 100%);
    background: linear-gradient(to bottom,  #717171 0%,#373737 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#373737',GradientType=0 );
    right: 8px;
    top: 8px;
}

.widgetButtons .widgetBoxCopy {
    background: transparent url("../images/duplicate.png") no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
    z-index: 1000;
}

#pageSizeLayer {
    width: 550px;
    overflow: hidden;
    border: 1px solid #888;
    background: #fff;
    z-index: 2000;
    position:absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.divide {
    margin-left: 11px;

}

.divide:before {
    content: "";
    position: absolute;
    border-left: 1px solid rgba(122, 122, 122, 0.3);
    height: 30px;
    width: 0px;
    margin-left: -6px;
    display: block;

}

#pageSizeLayer input,
#pageSizeLayer select,
#pageSizeLayer table,
#pageSizeLayer .btnArea {
    margin-bottom: 3px;
}

.help{padding:5px 0;background-color:#EFEFEF;border-top:1px solid #ccc}
ul.midCommand{float:left;margin:0 0 0 10px;;padding:0;*zoom:1}
ul.midCommand li{display:block;margin-bottom:5px;list-style:none}
a.widgetStyle{display:inline-block;margin:0 10px 10px 0;border:1px solid #fff;overflow:hidden;*zoom:1; width:96px;height:96px;position:relative;text-decoration:none}
a.widgetStyle:hover{border:1px solid #ccc}
a.widgetStyle:hover span{display:none}
a.widgetStyle.selected{border:1px solid #999}
a.widgetStyle img {width:96px;height:96px;margin:1px}
a.widgetStyle span{position:absolute;left:0;bottom:0;display:block;width:96px;background-color:#888;color:#fff;padding:4px 3px 3px 3px;opacity:.8;filter:alpha(opacity=80);text-align:center;font-family:tahoma}
#zonePageContent .widgetContainer { min-height: 20px; }


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .divide {
        margin-left: 4px;
    }

    .divide:before {
        content: "";
        display: none;
    }
}