<!--@if($page_navigation->total_page > 1 )-->
<div class="pagination">
    <ul>
        <li
        <!--@if(1 == $page)--> class="active"<!--@end-->>
        <a class="direction" href="<!--@if(1 == $page)-->#<!--@else-->{getUrl('page', $page-1)}<!--@end-->"<!--@if(1 == $page)-->
        onclick="return false;"<!--@end-->>‹</a>
        </li>
        <!--@if($page_navigation->canShowFirst())-->
        <li>
            <a href="{getUrl('page', '')}">1</a>
        </li>
        <!--@end-->
        <!--@if ($page_navigation->canShowGapStart())-->
        <li><a href="#" onclick="return false;" class="clear">...</a></li>
        {@$isGoTo = true}
        <!--@end-->
        <!--@for ($i = $page_navigation->frameStart; $i<=$page_navigation->frameEnd;$i++)-->
        <li
        <!--@if($i == $page)--> class="active"<!--@end-->>
        <!--@if($i != $page)-->
        <a href="{getUrl('page', $i)}">{$i}</a>
        <!--@else-->
        <div class="pull-left">
            <input type="text" size="3" id="current_page" name="page" value="{$page}" />
            <div class="btn-goto"><button type="button" id="go-cmd" class="btn btn-small" onclick="goToPage(jQuery('#current_page'))">{$lang->go}</button></div>


        </div>
        <!--@end-->
        </li>
        <!--@end-->
        <!--@if ($page_navigation->canShowGapEnd())-->
        <li><a href="#" onclick="return false;" class="clear">...</a></li>
        {@$isGoTo = true}
        <!--@end-->
        <!--@if($page_navigation->canShowLast())-->
        <li>
            <a href="{getUrl('page', $page_navigation->last_page)}">{$page_navigation->last_page}</a>
        </li>
        <!--@end-->
        <li
        <!--@if($page_navigation->last_page == $page)--> class="active"<!--@end-->>
        <a class="direction"
           href="<!--@if($page_navigation->last_page == $page)-->#<!--@else-->{getUrl('page', $page+1)}<!--@end-->"<!--@if($page_navigation->last_page == $page)-->
        onclick="return false;"<!--@end-->>›</a>
        </li>
    </ul>
</div>

<!--@end-->