<!--@if($grid)-->
<div class="row-fluid">
    <div class="span12">
        <table class="{$grid->getCssClasses()}"<!--@if($grid->getId())--> id="{$grid->getId()}"<!--@end-->>
        {@ $gridSections = array('thead','tfoot')}
        <!--@foreach ($gridSections as $section)-->
            <{$section}>
                <tr>
                    <!--@if($grid->getShowOrderNumberColumn())-->
                    <th>{$lang->no}</th>
                    <!--@end-->
                    <!--@foreach($grid->getColumns() as $column)-->
                    <th scope="col" class="nowr">
                        <!--@if ($column->getSortable())-->
                        <a href="{$column->getSortUrl()}">
                            {$column->getConfig('header')}
                            <!--@if($grid->getSortIndex() == $column->getSortIndex())-->
                            <!--@if($grid->getSortOrder() == 'asc')-->
                            <em>▲</em>
                            <!--@else-->
                            <em>▼</em>
                            <!--@end-->
                            <!--@end-->
                        </a>
                        <!--@else-->
                        {$column->getConfig('header')}
                        <!--@end-->
                    </th>
                    <!--@end-->
                    <!--@if($grid->getAllowMassSelect())-->
                    <th scope="col">
                        <input type="checkbox" title="Check All" data-name="{$grid->getMassSelectName()}" />
                    </th>
                    <!--@end-->
                </tr>
            </{$section}>
        <!--@end-->
            <tbody>
                <!--@if (count($grid->getRows()) > 0)-->
                <!--@foreach ($grid->getRows() as $no=>$row)-->
                <tr>
                    <!--@if($grid->getShowOrderNumberColumn())-->
                    <td>{$no}</td>
                    <!--@end-->
                    <!--@foreach($grid->getColumns() as $column)-->
                        <td class="nowr">{$column->render($row)}</td>
                    <!--@end-->
                    <!--@if($grid->getAllowMassSelect())-->
                        <td><input type="checkbox" name="{$grid->getMassSelectName()}" value="{$row->mass_select_value}"<!--@if($row->disable_mass_select)--> disabled="disabled"<!--@end-->/></td>
                    <!--@end-->
                </tr>
                <!--@end-->
                <!--@else-->
                    <tr>
                        <td colspan="{count($grid->getColumns()) + (int)$grid->getAllowMassSelect() + (int)$grid->getShowOrderNumberColumn()}"><div class="text-center">{$lang->no_records}</div></td>
                    </tr>
                <!--@end-->
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    jQuery('div[data-toggle=tooltip]').tooltip();
</script>
<!--@end-->