@charset "utf-8";
@import url(../../../../admin/tpl/css/_admin.css);

@charset "utf-8";
@import url(../../../../admin/tpl/css/_admin.css);



body {
    margin-top: 0 !important;
}

.padder {
    padding: 0 20px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.btn-group,
.btn-group span {
    cursor: pointer;
}

.dropdown-menu {
    padding: 5px;
}