<!--%import("../lang")-->
<!--@if(__DEBUG__)-->
<load target="popup.css"/>
<load target="popup.js"/>
<!--@else-->
<load target="popup.min.css"/>
<load target="popup.min.js"/>
<!--@end-->
<div class="padder">
    <h3>{$component_info->title} <!--ver. {$component_info->version}--></h3>

    <form action="./" method="get" onsubmit="return false" id="fo" class="form-horizontal">

        <div class="control-group">
            <label class="control-label" for="multimedia_url">{$lang->multimedia_url}</label>
            <div class="controls"><input type="text" id="multimedia_url" value="{$manual_url}"/></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="multimedia_caption">{$lang->multimedia_caption}</label>
            <div class="controls"><input type="text" id="multimedia_caption" value=""/></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="multimedia_width">{$lang->multimedia_width}</label>
            <div class="controls"><input type="text" size="3" id="multimedia_width" value="400"/>px</div>
        </div>
        <div class="control-group">
            <label class="control-label" for="multimedia_height">{$lang->multimedia_height}</label>
            <div class="controls"><input type="text" size="3" id="multimedia_height" value="400"/>px</div>
        </div>
        <div class="control-group">
            <div class="controls">
            <label class="checkbox">
            <input type="checkbox" id="multimedia_auto_start" value="Y"/>{$lang->multimedia_auto_start}</label></div>
        </div>
        <div class="control-group">

            <label class="control-label">{$lang->multimedia_wmode}</label>

            <div class="controls">
                <select id="multimedia_wmode">
                    <option value="window">{$lang->multimedia_wmode_window}</option>
                    <option value="opaque">{$lang->multimedia_wmode_opaque}</option>
                    <option value="transparent" selected="selected">{$lang->multimedia_wmode_transparent}</option>
                </select>

                <p>{$lang->about_ccl_allow_modification}</p>
            </div>


            <div class="btnArea">
                <button type="button" class="btn btn-primary">{$lang->cmd_insert}</button>
                <!--<span class="btn"><a
                        href="./?module=editor&amp;act=dispEditorComponentInfo&amp;component_name={$component_info->component_name}"
                        target="_blank">{$lang->about_component}</a></span>-->
            </div>

    </form>
</div>