#debug-toolbar {
    display: none;
    width: 100%;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    border-top: 3px solid #3d3d3d;
}
#debug-toolbar span.time {
    font-size: 12px;
    color: coral;
}
#debug-toolbar span.elapsed_time {
    font-size: 12px;
    color: darkgreen;
}
#debug-toolbar .queries .meta {
    display: none;
}

#debug-toolbar .debug-nav ul {
    margin: 0;
}

#debug-toolbar .debug-nav ul li {
    padding: 0;
}

#debug-toolbar .debug-nav ul li a{
    color: #ffffff;
}

#debug-toolbar .debug-nav ul a {
    display: block;
    padding: 10px 12px;
}

#debug-toolbar .debug-nav p {
    padding: 10px 12px;
    margin: 0;
    color: #747474;
}

#debug-toolbar .debug-nav ul li a:hover {
    background-color: #181818;
    text-decoration: none;
    color: #828282;
}

#debug-toolbar .debug-nav ul .active {
    background-color: #80b041;
}

#debug-toolbar .debug-nav > a:hover {
    background-color: #181818;
    cursor: hand;
    cursor: pointer;
}

#debug-toolbar .debug-nav .toggle, .debug-nav .settings, .debug-nav .hide {
    background: url("modules/debug/tpl/images/debugger.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
}

#debug-toolbar .debug-nav .settings {
    background-position: 0 -40px;
}

#debug-toolbar .debug-nav .hide {
    background-position: 0 -80px;
}

#debug-toolbar .debug-content {
    height: 225px;
    background-color: white;
    padding-bottom: 30px;
    overflow: scroll;
    font-size: 12px;
    cursor: default;
}

#debug-toolbar .debug-content span.key {
    font-weight: bold;
}
#debug-toolbar .debug-content span.title {
    font-weight: bold;
    font-size: 12px;
    cursor: default;
}

#debug-toolbar .tab-content {
    display: none;
    padding: 20px;
}

#debug-toolbar .debug-content li p:hover, #debug-toolbar .debug-content .queries li:hover, #debug-toolbar .debug-content li li:hover {
    color: chocolate;
}
#debug-toolbar .debug-nav .toggle {
    border-right: 1px solid #151515;
}
#debug-toolbar .debug-nav .toggle.up {
    background-position: -40px 0;
}
#debug-toolbar .debug-nav .settings, .debug-nav .hide {
    border-left: 1px solid #151515 ;
}

#debug-toolbar .status {
    display: none;
    width: 100%;
    height: 20px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d6d6d6;
    font-size: 12px;
    color: #666666;
}

#debug-toolbar .debug-content .message {
    display: none;
}

#debug-toolbar .php_errors li {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#debug-toolbar .php_errors li li {
    font-weight: normal;
    font-size: 10px;
    cursor: default;
}

#debug-toolbar .error_description {
    display: none;
}

.bottom-sticky {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: 2px solid #80b041;
    background: #181818;
    color: #80b041;
    display: none;
    cursor: pointer;
    padding: 5px 10px;
}
.bottom-sticky:hover {
    border-color: darkgoldenrod;
}