/*
    author: Daniel Ionescu
    date: 03/22/2013
*/

#debug-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;
}

#debug-toolbar.closed {
    height: 30px
}

#debug-toolbar.open-normal {
    height: 150px;
}

#debug-toolbar.open-wide {
    height: 300px;
}

#debug-content {
    height: 80%;
    overflow: scroll;
}

#debug-toolbar .queries .time {
    color: coral;
}

#debug-toolbar .queries li:hover {
    color: darkorange;
}