<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
	</grants>
    
	<permissions>
	<permission action="procFlowAdminInsert" target="manager" />
	</permissions>
	
    <actions>
	<action name="dispFlowAdminContent" type="view" standalone="true" admin_index="true" />
	<action name="dispFlowAdminInsert" type="view" menu_name="flow" />
	<action name="dispFlowAdminInfo" type="view" setup_index="true" menu_name="flow" />
	<action name="dispFlowAdminPageAdditionSetup" type="view" menu_name="flow" />
	<action name="dispFlowAdminDelete" type="view" standalone="true" />
	<action name="dispFlowAdminGrantInfo" type="view" menu_name="flow" />

	<action name="procFlowAdminInsert" type="controller" standalone="true" ruleset="insertFlow" />
	<action name="procFlowAdminUpdate" type="controller" standalone="true" ruleset="updateFlow" />
	<action name="procFlowAdminDelete" type="controller" standalone="true" ruleset="deleteFlow" />

    <!-- TEST ONLY; SUBJECT FOR DELETION -->
    <action name="dispQ1" type="view" standalone="true" />
    <action name="dispFlowQ1" type="view" standalone="true" />
	</actions>
	
	<menus>
	<menu name="flow" type="all">
			<title xml:lang="en">Flow</title>
		</menu>
	</menus>
	
</module>
