<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Karybu docs &middot; {{ page.title }}</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../assets/css/karybu_upcoming.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
    <link rel="shortcut icon" href="http://karybu.org/favicon.ico" />
    <link rel="icon" type="image/png" href="http://karybu.org/karybu-fav-128.png" />
</head>
<body>
<a href="https://github.com/arnia/Karybu/tree/gh-pages" class="forkme"></a>
<div class="navbar-placeholder visible-desktop"></div>
<div class="wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="../upcoming.html"><img src="../assets/img/karybu.png" alt="Karybu"/></a>

                <div class="nav-collapse collapse">


                    <ul class="nav pull-right">
                        <li
                        {% if page.title == 'Homepage' %} class="active" {% endif %}><a
                            href="../upcoming.html">Home</a></li>
                        <li
                        {% if page.title == 'Getting started' %} class="active" {% endif %}><a
                            href="../getting-started.html">Get
                        started</a></li>
                        <li
                        {% if page.title == 'Features' %} class="active" {% endif %}><a
                            href="../features.html">Features</a></li>
                        <li
                        {% if page.title == 'Documentation' %} class="active" {% endif %}><a href="#">Docs</a></li>
                        <li
                        {% if page.title == 'Contribute' %} class="active" {% endif %}><a
                            href="../contribute.html">Contribute</a></li>
                        <li
                        {% if page.title == 'About' %} class="active" {% endif %}><a href="about.html">About</a></li>
                    </ul>

                </div>


            </div>
        </div>
    </div>


    <div class="container">
        <div class="marketing">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Documentation</li>
                            {% for node in site.pages %}
                            {% if node.category == "docs" %}
                            <li
                            {%if page.url == node.url %} class="active"{% endif %}>
                            <a href="{{ node.url }}">{{ node.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="span9">

                    {{ content }}

                </div>

                <div class="clearfix"></div>
                <div class="container-narrow">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer">
        <p>&copy; Karybu is a trademark of Arnia Software. All rights reserved.</p>
    </div>
</div>
</div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
