<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Karybu &middot; {{ page.title }}</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/karybu_upcoming.css" rel="stylesheet">
</head>
<body>

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li {% if page.title == 'Homepage' %} class="active" {% endif %}><a href="upcoming.html">Home</a></li>
            <li {% if page.title == 'Getting started' %} class="active" {% endif %}><a href="getting-started.html">Get started</a></li>
            <li {% if page.title == 'Features' %} class="active" {% endif %}><a href="features.html">Features</a></li>
            <li {% if page.title == 'Documentation' %} class="active" {% endif %}><a href="docs">Docs</a></li>
            <li {% if page.title == 'Contribute' %} class="active" {% endif %}><a href="contribute.html">Contribute</a></li>
            <li {% if page.title == 'About' %} class="active" {% endif %}><a href="about.html">About</a></li>
        </ul>
        <h3 class="muted"><a href="upcoming.html"><img src="assets/img/karybu.png" alt="Karybu" /></a></h3>
    </div>

    <hr>


    {{ content }}

    <hr>

    <div class="footer">
        <p>&copy; Arnia 2013</p>
    </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>
