.zone {
    border-bottom: 1px solid rgba(122, 122, 122, 0.3);
}

.container {
    /*border-left: 1px solid rgba(122, 122, 122, 0.2);
    border-right: 1px solid rgba(122, 122, 122, 0.2);
    padding-left: 20px;
    padding-right: 20px;*/
    min-height: 20px;
}

.zone .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

#header {
    border: none;
}

#header .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

p.em {
    display: inline;
}

#zonePageContent {
    margin-bottom: 1em;
}




/* Bootstrap tweaks */

#main-content {
    margin-top: 80px;
}

.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6 {
    color: #ffffff;
}

#searchForm {
    float: right;
    text-align: right;
    margin: 7px 0 0 0;
}

#searchForm form {
    margin-bottom: 0;
}



#header a.brand {
    display: block;
    float: left;
    margin-bottom: -44px;
    position: relative;
}

#header a.brand img {
    max-height: 64px;
}

.navbar-fixed-top .navbar-inner {
    padding-bottom: 10px;
}

.tCenter,
td.tCenter{
    text-align: center;
}

.tRight,
td.tRight {
    text-align: right;
}

#pageSizeLayer {
    padding: 20px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#pageSizeLayer input.input-small,
#pageSizeLayer input.input-mini {
    width: 30px;
}

#pageSizeLayer select.input-small {
    width: 60px;
}



@media (max-width: 979px) {
    .navbar-fixed-top .span4,
    .navbar-fixed-top .span8 {
        display: block;
        width: 100%;
        float: none;
        clear: both;
    }

    .nav-collapse .nav {
        margin-top: 50px;
    }

    #main-content {
        margin-top: -20px;
    }



}

